@import "../../pages/clientPage/clientPages";

.edit-order-modal{
    width: 70% !important;
    max-width: 100% !important;
    .modal-content{
        align-self: center;
        width: 90%;
        margin: 0 auto !important;
    }
}

.order {
    padding: 2rem 0;
    overflow-x: hidden;

    .card-name-upcoming,
    .card-name-completed,
    .card-name-in-progress {
        width: 100%;
        margin-top: 10px;
        height: 65px;
        display: flex;
        background-color: white;
        align-items: center;
        justify-content: space-between;

        .color-card {
            height: 35px;
            width: 4px;
            background: #313e47;
            border-radius: 2px;
            margin-left: 15px;
        }

        .name {
            width: 100px;
            color: #313e47;
            font-weight: 500;
            font-size: 16px;
            margin-left: 20px;
        }

        .card-count {
            background: #313e47;
            border-radius: 6px;
            height: 42px;
            width: 42px;
            color: #f2f2f2;
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 15px;
        }
    }

    .card-name-in-progress {
        .color-card {
            background: #ffc40b;
        }

        .card-count {
            background: #ffc40b;
        }
    }

    .card-name-completed {
        .color-card {
            background: #00b238;
        }

        .card-count {
            background: #00b238;
        }
    }

    .about-upcoming,
    .about-in-progress,
    .about-completed {
        margin-top: 20px;
        background-color: white;
        padding: 25px;
        transition: 0.4s all ease;
        border-radius: 6px;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }

        .agent-title,
        .location-title,
        .amount-title {
            color: #828282;
            font-size: 15px;
            line-height: 18px;
        }

        .agent-name,
        .amount {
            font-weight: bold;
            font-size: 20px;
            line-height: 28px;
            color: #313e47;
            margin-top: 3px;
        }

        .line-border {
            opacity: 0.1;
            margin-top: 25px;
            border: 1px solid #000000;
        }

        .time-and-service {
            display: flex;
            margin-top: 20px;

            .time-order,
            .service {
                width: 50%;
                .time-title {
                    font-size: 15px;
                    line-height: 28px;
                    color: #828282;
                }

                .time {
                    span {
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 28px;
                        color: #313e47;
                    }

                    .bordered {
                        display: inline-block;
                        height: 14px;
                        opacity: 0.6;
                        border: 1px solid #000000;
                    }
                }
            }

            .time-order{
                width: 75%;
            }
        }

        .location {
            font-weight: 500;
            font-size: 15px;
            line-height: 28px;
            color: #313e47;
        }
    }

    .about-in-progress {
        background-color: #f9f5ef;
    }

    .about-completed {
        background-color: #eff5f6;
    }
    //@media screen and (max-width: 992px){
    //    display: flex;
    //    flex-wrap: wrap;
    //    justify-content: space-around;
    //    border: 1px solid red;
    //
    //    .col_4 {
    //        border: 1px solid red;
    //        width: 90%;
    //        margin: 0 auto;
    //    }
    //
    //}
}

.address-container {
  padding: 1.5rem 2rem;
  width: 100%;
  height: 330px;
  background: #F9FAFB;
  box-shadow: 0 2px 2px rgba(212, 212, 212, 0.2);
  border-radius: 5px;
  position: relative;

  .please-address {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #313E47;
  }

  .address-input-vector {
    position: absolute;
    right: 5%;
    bottom: 25px;
  }

  .address-input {
    margin: 1rem auto;
    width: 100%;
    height: 70px;
    background: #FFFFFF;
    backdrop-filter: blur(16.3097px);
    border-radius: 2px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
  }

  .address-li {
    height: 30px;
    background: transparent;
    cursor: pointer;
    font-size: 1.3vw;
    @media screen and (max-width: 992px) {
      font-size: 18px;
    }
  }

  .address-next-btn {
    width: 200px;
    height: 60px;
    background: #313E47;
    border-radius: 2px;
    font-size: 20px;
    @media screen and (max-width: 768px) {
      width: 120px;
    }
  }
}

.date-time-container{
    width: 100%;
    padding: 20px;
    background: #F9FAFB;
    box-shadow: 0px 2px 2px rgba(212, 212, 212, 0.2);
    border-radius: 5px;
    .date-title{
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        color: #313E47;
        margin: 10px 0;
    }

    .date-row{
        justify-content: space-between;
        width: 100%;
        margin: 0;
        text-align: center;
        height: 70px;
        background: #FFFFFF;
        backdrop-filter: blur(16.3097px);
        border-radius: 2px;
        display: flex;

        .date-col{
            text-align: center;
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 20px;
            color: #050000;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &.prevNext {
                width: 10%;
            }

            &.dates {
                width: 15%;
            }

        }
        .date-col-disable{
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 20px;
            color: #050000;
            opacity: 0.5;
            transition-duration: 0.8s;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &:hover{
                opacity: 0.7;
            }
            &.dates {
                width: 15%;
            }

        }
        .time-available{
            font-size: 12px;
            line-height: 20px;
            color: #050000;
            opacity: 0.9;
            letter-spacing: 1.2px;
        }

        .date-col-selected{
            color: black;
            font-weight: 700;
            font-size: 17px;
            padding: 20px 0;
            line-height: 20px;
            height: 70px;
        }
    }

    .manager{
        font-size: 17px;
        line-height: 20px;
        color: #313E47;
    }

    .next-step-btn, .next-step-btn-previous{
        background-color: #04A6FB;
        border-radius: 2px;
        width: 10vw;
        height: 55px;

        @media screen and (max-width: 768px){
            width: 35vw;
            margin-top: 1rem;
        }
    }

    @media screen and (max-width: 768px) {

        .date {

            .date-row {
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: flex-start;
                flex-direction: row;

                .date-col-disable, .date-col {
                    width: 14.28%;
                    height: 100%;
                    padding: 0;
                    font-size: 14px;


                    &.prevNext {
                        width: 13%;
                    }

                    &.dates {
                        width: 24.33%;
                    }
                }
            }
        }
    }
}

.user-info-container{
    .form-group{
        input{
            height: 60px;
            border-radius: 2px;
            background: #F9FAFB;
        }
    }

    #checkbox3 {
        Label {
            @include label();
            &::before {
                @include lableBefore();
            }

            .textLabel {
                position: absolute;
                width: 600px;
                line-height: 18px;
                top: -50%;
                transform: translateX(3.5%);
                @media screen and (max-width: 768px){
                    width: 300px;
                    transform: translateX(8%);

                }
            }
        }

        Input {
            @include input();
        }
    }


    .checkbox-span {
        color: #5196ff;
    }

    .next-step-btn, {
        height: 60px;
        width: 198px;
        border-radius: 2px;
        background: #04A6FB;
    }

    .formCheckControl {
        margin-left: 18px;
    }

    .myBtn {
        margin-left: auto;
        width: max-content;
        @media screen and (max-width: 768px){
            margin-left: 0;
            margin-top: 10px;
        }
    }
}

//////////////////////////   Online    ////////////////////////////

.online-step-one {
    padding-top: 45px;

    select {
        height: 50px;
        border-radius: 0;
        background-color: #f5f5f5;
        border: transparent;
        box-shadow: none;

        &:focus {
            border: 1px solid black;
        }
    }

    .drop-files {
        margin-top: 15px;
        background-color: #f9fafb;
        padding: 20px 35px;

        .price {
            margin-left: 500px;
            margin-top: 10px;
            font-size: 35px;
            text-align: right;
        }

        .your-document {
            font-size: 20px;
            line-height: 15px;
            color: black;
        }

        .file-upload {
            margin-top: 15px;
            font-size: 15px;
            line-height: 15px;
            color: black;
        }
        .uploaded-file {
            width: 84px;
            height: 84px;
            background: #313e47;
            text-align: center;
            box-shadow: 0px 2px 2px rgba(187, 187, 187, 0.32);
            border-radius: 5px;
            margin-left: 25px;
            margin-top: 15px;
            cursor: pointer;

            .file-name {
                margin-top: 8px;
                font-size: 13px;
                line-height: 20px;
                letter-spacing: -0.266667px;
                color: #e0e2e3;
            }
        }

        .form-control-file {
            margin-top: 15px;
            border: 1px dashed black;
            height: 84px;
            width: 84px;
            cursor: pointer;
            text-align: center;
            font-size: 50px;
            font-weight: bold;
            padding-top: 28px;
            transition-duration: 0.5s;
            &:hover {
                box-shadow: 0 0 4px rgba(187, 187, 187, 0.82);
                font-size: 52px;
                border: 1px dashed #021cfd;
                color: #0a66b7;
            }
        }

        .count-document {
            justify-content: center;
            margin-top: 15px;
            margin-left: 60px;
            background-color: #f5f5f5;
            width: 20%;
            border: 1px dotted black;

            Input {
                background-color: #f5f5f5;
                text-align: center;
                border: none;
                box-shadow: none;
                width: 100px;
            }
        }

        .additional {
            background-color: #838b91;
            border-radius: 0;
            border: none;
        }

        .add-ser-input {
            padding: 0;
            height: 38px;
            border: 1px solid #384049;
        }
    }

    .buttons {
        .checkboxs {
            Label {
                @include label();

                &::before {
                    @include lableBefore();
                }

                &::after {
                    content: "I understand I need a webcam to use DuoNotary";
                    @include labelAfter();

                    @media screen and (max-width: 770px) {
                        width: 200px;
                        line-height: 12px;
                    }
                }

                &.label_2::after {
                    content: "I agree with the Terms of Service?";
                }
            }
            Input {
                @include input();
            }
        }

        .next-btn {
            height: 60px;
            border: none;
            box-shadow: none;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #313e47;
            margin-top: 25px;
            width: 20%;
            font-size: 20px;
        }
    }
}

.order-step-three {
    .counter{

        .inc-dec{
            width: 25px;
            height: 25px;
            background-color: #04A6FB;
            border-radius: 50%;
            cursor: pointer;
            color: #FFFFFF;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .2s ease-in-out;
            &:hover {
                background-color: #384049;
                color: #04A6FB;
            }
        }
        .count{
            padding: 0 10px;
        }
    }
    .row-service {
        background: #f9fafb;
        box-shadow: 0 2px 2px rgba(212, 212, 212, 0.31);
        border-radius: 5px;
        padding: 30px 35px;
        margin-top: 10px;
        transition-duration: 2s;

        .down-icon,
        .up-icon {
            display: flex;
            justify-content: flex-end;
            width: 70%;
            cursor: pointer;

            img {
                transform: rotate(180deg);
            }
        }

        .up-icon {
            img {
                transform: unset;
            }
        }
    }

    .row-additional {
        background: #f9fafb;
        .card {
            border: none;
            background-color: transparent;
            .name{
                font-size: 16px;
                line-height: 20px;
                padding-top: 3px;
            }

        }

        .next-step-btn {
            @media screen and (max-width: 768px){
                margin: 5px 0;
            }
        }
    }
}

.home-page {
    .leftMenuOrder {
        position: fixed;
        top: 0;
        left: 0;
        @media screen and (max-width: 768px){
            display: none;
        }
    }
    .rightMenuOrder {
        width: 90vw;
        margin-left: auto;
        @media screen and (max-width: 768px){
            width: 100vw;
        }
    }
}

