
.calendar-page{

  //Common
  .block{
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
    border-radius: 6px;
    padding: 22px;
  }

  .same-height{
    min-height: 190px;
  }

  .icon-background{
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-color: #f8f8f8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rotate-180{
    transform: rotate(180deg);
  }

  .green-color{
    color: #00B533;
  }
  //Common end
  //Fonts
  .main-font{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #313E47;
  }

  .big-numbers{
    font-weight: 800;
    font-size: 32px;
    line-height: normal;
  }

  .this-day{
    font-size: 14px;
    line-height: 17px;
    color: #898989;
  }

//  Fonts end

//  Components


  .indicator{
    cursor: pointer;
    width: 130px;
    border-radius: 5px;
    padding: 7px 18px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #313E47;
    transition: all .5s ease;
    margin-bottom: 3px;
  }

  .indicator-small{
    width: 120px;
    margin-bottom: 6px;
  }

  .month-name{
    width: 110px;
  }
  .today-btn{
    cursor: pointer;
    padding: 5px 13px;
    color: white;
    background: #04A6FB;
    border-radius: 100px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }

  .no-scroll{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: transparent;
  }

  .dashboard-grid{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: repeat(25, 100px);
    div{
      //border: 1px solid #F3F4F5;
    }
  }

  .th-day{
    background-color: #f7fcff;

    .span{

    }

    .day{
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: #939DA2;
    }
    .date{
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      color: #939DA2;
    }

    .day.today{
      color: #04a6fb;
    }

    .date.today{
      width: 40px;
      line-height: 40px;
      text-align: center;
      //height: 40px;
      background-color: #04a6fb;
      border-radius: 50%;
      color: white;
    }

    .future{
      color: #313e47;
    }
  }

  .tr-time{
    border: 1px solid #F3F4F5;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .grid-item{
    background-color: white;
  }

  .services-box{
    border-top: 1px solid #F3F4F5;
    border-right: 1px solid #F3F4F5;
    background-color: white;
    overflow-y: hidden;
    height: 100px;

    .see-more{
      background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2));
      transition: .3s all ease;
      cursor: pointer;
      font-weight: bold;
      font-size: 11px;
      color: #313E47;
    }
  }
  .services-box-expanded{
    height: auto;
    //overflow-y: visible;
    position: relative;
    z-index: 3;
    box-shadow: 0px 10px 10px rgba(211, 211, 211, 0.36);
  }
  .blank-services-box{
    background-color: white;
  }

  .info-card{
    overflow: hidden;
    animation: infobox .3s ease forwards;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(211, 211, 211, 0.56);
    padding-right: 40px;
    position: fixed;
    z-index: 4;
    .name{
      font-weight: 600;
      font-size: 16px;
    }
    .phone{
      font-weight: 500;
      font-size: 14px;
    }

    .circle{
      width: 13px;
      height: 13px;
      border-radius: 50%;
      border: none;
    }
  }



  //  Components end
}
.tab-menu{
  box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
  padding: 5px 8px;
  background: #F8F8F8;
  border-radius: 100px;
  transition: all .3s ease;
  div{
    padding: 8px 11px;
    transition: all .3s ease;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #BDC1C3;
    cursor: pointer;
  }
  .active{
    color: #313e47;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(187, 187, 187, 0.32);
    border-radius: 100px;
  }
}


@keyframes infobox {
  from{
    width: 0;
    height: 0;
  }
  to{
    width: 230px;
    height: 260px;
  }
}