.agent-main-page {

  .agent-cards-row {
    padding-top: 50px;

    .card-name-upcoming,
    .card-name-completed,
    .card-name-in-progress,
    .card-name-rejected {
      padding: 12px;
      width: 100%;
      height: 55px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      background-color: white;
      align-items: center;

      .color-card {
        height: 35px;
        width: 4px;
        background: #0090ff;
        border-radius: 2px;
      }

      .name {
        color: #313E47;
        font-weight: 500;
        font-size: 16px;
      }

      .card-count {
        background: #0090ff;
        border-radius: 6px;
        height: 42px;
        width: 42px;
        color: #F2F2F2;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .card-name-in-progress {
      .color-card {
        background: #FFC40B;
      }

      .card-count {
        background: #FFC40B;
      }
    }

    .card-name-completed {
      .color-card {
        background: #00B238;
      }

      .card-count {
        background: #00B238;
      }
    }

    .card-name-rejected {
      .color-card {
        background: #161716;
      }

      .card-count {
        background: #161716;
      }
    }

    .about-upcoming,
    .about-in-progress,
    .about-completed,
    .about-rejected {
      margin-top: 15px;
      background-color: white;
      padding: 15px 25px;
      transition: 0.4s all ease;
      border-radius: 6px;

      &:hover {
        box-shadow: 0px 25px 40px rgba(211, 211, 211, 0.56);
      }

      .agent-title,
      .location-title,
      .amount-client-title {
        color: #828282;
        font-size: 15px;
        line-height: 10px;
      }

      .agent-name,
      .amount {
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        color: #313E47;
        margin-top: 3px;
      }

      .line-border {
        opacity: 0.1;
        margin-top: 25px;
        border: 1px solid #000000;
      }

      .time-and-service {
        display: flex;
        margin-top: 10px;

        .time-order,
        .service {
          width: 35%;

          .time-title {
            font-size: 15px;
            line-height: 28px;
            color: #828282;
          }

          .time {
            span {
              font-weight: 500;
              font-size: 15px;
              line-height: 28px;
              color: #313E47;
            }

            .bordered {
              display: inline-block;
              height: 14px;
              opacity: 0.6;
              border: 1px solid #000000;
            }

          }
        }

        .service {
          margin-left: 50px;
        }

      }

      .location {
        font-weight: 500;
        font-size: 15px;
        line-height: 28px;
        color: #313E47;
      }

      .amount-client-title {
        display: flex;
        margin-top: 10px;

        .amount-title {
          font-size: 15px;
          line-height: 28px;
          color: #828282;
        }

        .amount {
          span {
            font-weight: 500;
            font-size: 15px;
            line-height: 28px;
            color: #313E47;
          }

          .bordered {
            display: inline-block;
            height: 14px;
            opacity: 0.6;
            border: 1px solid #000000;
          }

        }
      }
    }

    .about-in-progress {
      background-color: #F9F5EF;
    }

    .about-completed {
      background-color: #EFF5F6;
    }

    .about-rejected {
      background-color: rgba(203, 203, 203, 0.3);
    }
  }
}

.agent-order-page {

  .single-agent-order {
    box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
    border-radius: 6px;
    background-color: #FCFDFD;
    padding: 20px 30px 20px 20px;
    transition: 0.3s ease-in-out all;


    .label-text {
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.02em;
      color: #828282;
    }

    .main-text-20 {
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      color: #313E47;
    }

    .main-text-15 {
      font-weight: 500;
      font-size: 15px;
      line-height: 28px;
      color: #313E47;
    }

    .agent-order-avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }

    .inprogress-color {
      color: #FFC30B;
    }

    .completed-color {
      color: #00B238;
    }

    .rejected-color {
      color: #313e47;
    }

    .upcoming-color {
      color: #04a6fb;
    }

    .name-div {
      width: 230px;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    .location-time-div {
      width: 280px;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    .price-div {
      width: 130px;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    .service-type-div {
      width: 100px;
    }

    &:hover {
      background: #FFFFFF;
      box-shadow: 0px 25px 40px rgba(211, 211, 211, 0.56);
    }
  }
}

.agent-sharing-page {
  display: flex;
  flex-direction: column;

  .historyBtn {
    transform: translateY(-100%);

    @media screen and (max-width: 767px) {
      transform: translateY(0);
      margin-bottom: 20px;
    }
  }

  .sharing-history {
    background: #FFFFFF;
    width: 150px;
    box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
    border-radius: 100px;
    padding: 13px 35px;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      box-shadow: 0px 10px 10px rgba(216, 216, 216, 0.5);
    }
  }

  .sharing-history-pressed {
    background-color: #313e47;
    color: white;

    .icon {
      background-color: white;
    }
  }

  .percent-inside-text {
    font-weight: 500;
    color: #04a6fb;
  }

  .wrap {

    .bonus-card {
      background-color: #00B238;
      border-radius: 6px;
      padding: 32px 20px 30px 20px;
      box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);


      .bonus-text {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: white;
      }

      .percent {
        font-weight: 800;
        font-size: 60px;
        line-height: 28px;
        color: white;
      }

      .percent-text {
        margin-top: 20px;
        font-size: 16px;
        line-height: 18px;
        color: rgba(255, 255, 255, 0.55);
      }
    }

    .use-now {
      background: #FFFFFF;
      box-shadow: 0 2px 2px rgba(216, 216, 216, 0.33);
      border-radius: 100px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
      cursor: pointer;
      transition: 0.3s ease-in-out all;

      &:hover {
        box-shadow: 0px 25px 40px rgba(211, 211, 211, 0.56);
      }
    }

    .use-notary {
      padding: 30px;
      background-color: #fff;
      box-shadow: 0 2px 2px rgba(211, 211, 211, 0.33);
      border-radius: 6px;

      .title {
        font-weight: bold;
        font-size: 32px;
        color: black;
        text-align: center;
      }

      .commit {
        font-size: 18px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        margin-top: 15px;
      }

      .bordered {
        opacity: 0.1;
        border: 1px solid #000000;
        margin-top: 25px;
      }

      .social-set {
        margin-top: 25px;

        & > div {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;

          &:first-child {
            padding: 0 2rem;

            & > * {
              margin: 3px 5px;
            }
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }

  .sharing-history-row {
    padding-top: 75px;

    .history-col {
      box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
      border-radius: 6px;
      background-color: #FCFDFD;
      padding: 25px;
      transition: 0.4s all ease;

      &:hover {
        background-color: white;
        box-shadow: 0px 25px 40px rgba(211, 211, 211, 0.56);
      }

      .border-line {
        opacity: 0.1;
        border: 1px solid #000000;
        transform: rotate(90deg);
        width: 45px;
        margin-top: 25px;
      }

      .right-icons {
        margin-top: 10px;
        cursor: pointer;
      }
    }
  }
}

.passport-agent-page {
  .passport {
    margin-top: 10px;
    padding: 30px 30px 20px 30px;
    height: 250px;
    background-color: #fcfdfd;
    box-shadow: 0px 25px 40px rgba(211, 211, 211, 0.56);

    input {
      width: 200px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-radius: 0;
      background-color: transparent;
      box-shadow: none;
      color: black;
      padding-left: 0;

      &::placeholder {
        color: black;
      }
    }

    .change-status {
      display: flex;
      justify-content: flex-end;

      button {
        box-shadow: none;
        color: white;
        background-color: #04A6FB;
        border-radius: 0;
        border: none;
        margin-top: 20px;
      }

    }

    .name {
      width: 130px;
      font-weight: bold;
      font-size: 16px;
    }
  }
}

.certificates-agent-page {
  .certificate {

    margin-top: 10px;
    padding: 30px 30px 20px 30px;
    height: 250px;
    background-color: #fcfdfd;
    box-shadow: 0px 25px 40px rgba(211, 211, 211, 0.56);

    input {
      width: 200px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-radius: 0;
      background-color: transparent;
      box-shadow: none;
      color: black;
      padding-left: 0;

      &::placeholder {
        color: black;
      }
    }

    .change-status {
      display: flex;
      justify-content: flex-end;

      button {
        box-shadow: none;
        color: white;
        background-color: #04A6FB;
        border-radius: 0;
        border: none;
        margin-top: 20px;
      }

    }

    .name {
      width: 130px;
      font-weight: bold;
      font-size: 16px;
    }

  }
}


.schedule-main {
  background-color: white;
  margin-top: 30px;
  display: flex;

  .today {
    background-color: #f5f5f5;
    width: 100%;
    display: flex;

    div {
      margin-top: 15px;
      background-color: white;
      padding: 5px;
    }

    .name {
      margin-left: 15px;
      width: 22%;
      clip-path: polygon(0 0, 0 100%, 75% 100%, 100% 50%, 75% 0);

      .fs-20-bold {
        background-color: transparent;
        color: #b3b1b1;
      }

      .fs-32-bold {
        color: #5196FF;
      }
    }

    .times {
      width: 65%;
      clip-path: polygon(0 0, 8.5% 50%, 0% 100%, 100% 100%, 100% 0);
      margin-left: -30px;
      padding-left: 15px;

      .times-row {
        margin-top: -8px;

        .times-col {
          justify-content: center;

          .fs-20-bold {
            text-align: center;
            padding: 0;
          }
        }
      }
    }

    .action {
      width: 18%;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    @media screen and (max-width: 992px) {
      flex-direction: column;
      background-color: #fff;
      .name {
        width: 100%;
        clip-path: none;
        margin: 0;
      }
      .times {
        width: 95.8%;
        padding: 0;
        clip-path: none;
        margin-left: 0;
      }
      .action {
        padding: 10px 0;
        width: 100%;
      }
    }
  }

  .weeks {
    background-color: #f5f5f5;
    width: 100%;
    display: flex;
    padding-right: 15px;
    padding-bottom: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;

    .week {
      width: 30%;
      margin-left: 15px;

      .week-name {
        margin-top: 20px;
        width: 100%;
        height: 36px;
        color: #696969;
        background-color: #dcddde;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        display: flex;

        .none {
          font-size: 25px;
          width: 86%;
          height: 30px;
          margin-left: 25px;
          text-align: center;
          margin-top: 3px;
        }
      }

      .week-card {
        width: 100%;
        border: none;
        border-radius: 10px;
        background-color: white;
        border: 1px solid transparent;

        &:hover {
          border: 1px solid #dcddde;
        }

        .day-title {
          text-align: center;
          padding: 10px 10px;
        }

        .day-action {
          display: flex;
          justify-content: center;

          div {
            width: 35%;
            margin: 10px;
            height: 30px;
            border-radius: 5px;
            transition: transform 0.3s;
            text-align: center;
            padding-top: 2px;
            opacity: 0.5;
          }

          .edit {
            background-color: grey;
            cursor: pointer;

            &:hover {
              background-color: #29a2fc;
              transform: scale(1.1);
              box-shadow: 0 5px 5px rgba(147, 193, 250, 0.56);
              opacity: 1;
            }
          }

          .delete {
            background-color: lightslategray;
            cursor: pointer;

            &:hover {
              background-color: #f66767;
              transform: scale(1.1);
              box-shadow: 0 5px 5px rgba(252, 132, 132, 0.56);
              opacity: 1;
            }
          }
        }
      }
    }

    @media screen and (max-width: 992px) {
      .week {
        width: 45%;
      }
    }
    @media screen and (max-width: 768px) {
      .week {
        width: 100%;
      }
    }
  }

  .active {
    width: 15px;
    height: 15px;
    margin-top: 10px;
    border-radius: 100%;
    background-color: #01fc50;
    border: none;
    box-shadow: 0 0 10px #00ae00;
    cursor: pointer;
  }

  .de-active {
    width: 15px;
    height: 15px;
    margin-top: 10px;
    background-color: yellow;
    box-shadow: 0 0 10px #FFC40B;
    border: none;
    border-radius: 100%;
    cursor: pointer;
  }

  .red {
    width: 15px;
    height: 15px;
    margin-top: 10px;
    background-color: #ff0000;
    box-shadow: 0 0 10px #f10202;
    border: none;
    border-radius: 100%;
    cursor: pointer;
  }
}

.row-btn {
  border-radius: 50px;
  border: 1px solid transparent;

  &:hover {
    .times {
      color: white;
    }

    border-color: #04A6FB;
    transition-duration: 300ms;
  }
}

.row-btn-pointer {
  cursor: pointer;
}

.agent-setting-page {
  .edit-profile-section {

    .form-section {
      padding: 20px 30px;
      transition: all ease-in-out 0.3s;
      background-color: white;
      box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      margin: 10px 0;
      width: 70%;

      .avatar-img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }

      .cancel-button {
        background-color: #313e47;
        border: none;
        padding: 17px 25px;
        font-weight: 500;

      }

      .save-button {
        background-color: #04A6FB;
        border: none;
        padding: 17px 25px;
        font-weight: 500;
      }


      .form-group {
        margin-bottom: 0;
      }

      input {
        color: black;
        font-weight: 400;
        padding: 12px;
        border: 1px solid #eaeaea;
        background-color: #f5f5f5;
        border-radius: 5px;

        &:focus {
          background-color: white;
          box-shadow: none;
        }

        &:valid {
          background-color: #00b23823;
          border: none;
        }

        &::placeholder {
          color: #a8b1bf;
        }
      }

      .input-half {
        width: 49%;
      }

      .input-full {
        width: 80%;
      }

      .form-label {
        font-weight: 500;
        margin-right: 10px;
        color: #313e47;
        text-align: right;
      }

      .form-section-title {
        font-weight: bold;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 0.02em;
        color: #313e47;
      }

      @media screen and (max-width: 992px) {
        width: 100%;
      }
    }

    .form-padding {
      box-shadow: 0 10px 20px 6px rgba(0, 0, 0, 0.1);

      padding: 25px 60px;

    }
  }

}

@media screen and (max-width: 768px) {
  form {
    width: 100% !important;
  }
  .agent-setting-page {
    .edit-profile-section {
      .form-section {
        width: 100%;
      }

      .form-padding {
        padding: 20px;
      }
    }
  }
}

.closeBtnAgent {
  position: absolute;
  top: 42.5px;
  left: -12%;

  @media screen and (max-width: 768px){
    right: 0;
  }
}
