.zipBlock {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0;
  .no{
    font-size:44px ;
  }

  .zipBox {
    width: 19%;
    padding: 1rem;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 3px 3px 10px 0 #00000040;
    transition: .4s ease-in-out;
    margin-right: 10px;
    margin-bottom: 10px;
    &:hover {
      box-shadow: 7px 7px 15px 0 #00000040;
    }

    @media screen and (max-width: 1200px){
      width: 31%;
      margin: 1rem auto;
    }
    @media screen and (max-width: 992px){
      width: 45%;
      margin: 1rem auto;
    }

    //@media screen and (max-width: 768px){
    //  width: 45%;
    //  margin: 1rem auto;
    //}
    @media screen and (max-width: 380px){
      width: 90%;
      margin: 1rem auto;
    }

    .zipNumber {
      font-size: 24px;
      font-weight: 600;
      span {
        padding-left: 1rem;
        color: #00B238;
      }
    }

    .zipStatus {
      font-size: 18px;
      font-weight: 500;

      span {
        padding-left: 1rem;
        //color: #00B238;
      }
    }

    .zipSwitch {
    }
  }
}