// Ulug`bek
.labelDuo {
  position: relative;
  cursor: pointer;


  .labelBlock {
    width: 20px;
    height: 20px;
    border: 2.5px solid #6DAFF7;
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translate(0, -50%);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .labelBox {
    color: #6DAFF7;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// F

.minus-color {
  color: #04a6fb;
}

.agent-avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.in-progress {
  color: #FFC30B;
}


.admin-agent-page,
.admin-order-page,
.admin-customer-page,
.feedback-admin-page,
.admin-zip-codes-page-open,
.admin-discount-page {
  padding-top: 55px;
  position: relative;
  min-height: 100%;

  .agent-block {

    border-radius: 6px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
    transition: 0.4s all ease;
    margin-top: 20px;


    &:hover {
      box-shadow: 0px 25px 40px rgba(211, 211, 211, 0.56);
      background-color: white;
    }

    .border-line {
      opacity: 0.1;
      width: .5px;
      background-color: #000;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .right-icons {
      margin-top: 10px;
      cursor: pointer;
    }

    .feedback-text-admin {
      color: #808080;
      font-size: 15px;
      font-weight: 300;
      line-height: 25px;
      margin-top: 35px;
    }
  }

  .sharing-history-row {
    position: relative;
    padding-bottom: 130px;

    .history-col {
      //cursor: pointer;
      border-radius: 6px;
      background-color: #fcfdfd;
      padding: 25px;
      transition: 0.4s all ease;
      margin-top: 20px;

      .dataBlock {
        width: max-content;
      }

      &:hover {
        box-shadow: 0px 25px 40px rgba(211, 211, 211, 0.56);
        background-color: white;
      }

      .border-line {
        opacity: 0.1;
        width: .5px;
        background-color: #000;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .right-icons {
        margin-top: 10px;
        cursor: pointer;
      }

      .feedback-text-admin {
        color: #808080;
        font-size: 15px;
        font-weight: 300;
        line-height: 25px;
        margin-top: 35px;
      }
    }
  }

  .agent-edit-page {
    //padding-top: 75px;

    .title {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
    }

    .admin-agent-info {
      margin-top: 20px;
      padding: 30px 20px;
      background-color: #fcfdfd;
      box-shadow: 0px 25px 40px rgba(211, 211, 211, 0.56);

      .user-img {
        width: 80px;
        height: 50px;
        border-radius: 100px;
      }

      .user-info {
        div:nth-child(1) {
          font-weight: bold;
          font-size: 15px;
        }
      }

    }

    .admin-agent-passport {
      .passport {
        margin-top: 10px;
        padding: 30px 30px 20px 30px;
        height: 250px;
        background-color: #fcfdfd;
        box-shadow: 0px 25px 40px rgba(211, 211, 211, 0.56);

        input {
          width: 200px;
          border-top: none;
          border-left: none;
          border-right: none;
          border-radius: 0;
          background-color: transparent;
          box-shadow: none;
          color: black;
          padding-left: 0;

          &::placeholder {
            color: black;
          }
        }

        .change-status {
          display: flex;
          justify-content: flex-end;

          button {
            box-shadow: none;
            color: white;
            background-color: #04A6FB;
            border-radius: 0;
            border: none;
            margin-top: 20px;
          }

        }

        .name {
          width: 130px;
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
  }
}

.admin-discount-page {
  .sharing-history-row {
    .fs-15, .fs-20-bold {
      text-align: center;
    }

    .add-discount {
      background-color: #04A6FB;
      color: white;
      width: 200px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin-top: 20px;

    }
  }
}

.admin-service-page,
.feedback-admin-page {
  padding-top: 65px;

  .add-services {
    background: #00b238;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    cursor: pointer;

    .add-service-img {
      margin-left: 17px;
      margin-top: 17px;
    }
  }

  .add-text {
    color: #313e47;
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
    display: inline;
  }

  .route-services {
    background: #f3f4f5;
    border-radius: 100px;
    height: 50px;
    display: flex;
    width: 28%;

    .online,
    .in-person,
    .router-active {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5px;
      height: 40px;
      width: 50%;
      border-radius: 100px;
      color: #b9bdc1;
      font-size: 15px;
      cursor: pointer;
    }

    .router-active {
      box-shadow: 0px 2px 2px rgba(187, 187, 187, 0.32);
      background-color: white;
      color: black;
    }
  }

  .services-section {
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
    border-radius: 6px;
    padding: 35px 40px;

    .notary-text,
    .notary-text-active {
      font-weight: bold;
      font-size: 28px;
      line-height: 33px;
      color: #b9bdc1;
    }

    .notary-text-active {
      color: #313e47;
    }

    .notary-commit {
      margin-top: 15px;
      color: #b9bdc1;
      font-size: 18px;
      line-height: 29px;
    }

    .notary-price,
    .notary-price-active {
      font-size: 45px;
      line-height: 55px;
      margin-top: 30px;
      color: #b9bdc1;
      font-weight: bold;
    }

    .notary-price-active {
      color: #313e47;
    }

    .edit-and-switch {
      display: flex;

      .edit-services {
        background-color: #f3f4f5;
        height: 50px;
        width: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }
}

.admin-discount-page, .main-service-page-with-percentage, .main-service-page {

  .active-router-discount {
    background: #F3F4F5;
    border-radius: 100px;
    height: 50px;
    display: flex;
    justify-content: center;

    .default-route, .active-route {
      width: 170px;
      height: 40px;
      margin: 5px;
      color: #516675;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 16px;
      cursor: pointer;
    }

    .active-route {
      box-shadow: 0px 2px 2px rgba(187, 187, 187, 0.32);
      border-radius: 100px;
      color: #313E47;
      background-color: white;
    }
  }
}

//Ali
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.width-100 {
  width: 100%;
}

.half-left {
  width: 50%;
  margin-right: 10px;
}

.half-right {
  width: 50%;
  margin-left: 10px;
}

.space-between {
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-right-50 {
  margin-right: 50px;
}

.margin-right-15 {
  margin-right: 15px;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-left-35 {
  margin-left: 35px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.main-title {
  font-weight: 600;
  font-size: 22px;
  color: #313e47;
  letter-spacing: 0.02em;
}

.dark-title {
  font-size: 20px;
  font-weight: 500;
  color: #313e47;
}

.time-text {
  color: #313e47;
  font-weight: 500;
  font-size: 20px;
  padding: 0;
  margin: 0;

  border: none;

  input {
    padding: 0;
    margin: 0;
    color: #313e47;

    border: none;

    &:focus {
      outline: none;
      border: none;
      border-bottom: 2px solid #313e47;
    }
  }

  select {
    color: #313e47;
  }
}

.light-title {
  color: #313e47;
  opacity: 0.6;
  font-weight: normal;
  font-size: 20px;
}

.admin-main-page {
  padding: 0 15px 50px 15px;

  .calendar-icon {
    margin-left: 22px;
  }

  .section {
    margin: 25px 0 0 0;

    .text-28 {
      font-size: 28px;
      line-height: 33px;
      letter-spacing: 0.02em;

      /* #313E47 */

      color: #313e47;
    }

    .text-black-16 {
      font-size: 16px;
      line-height: 15px;
      color: #000000;
    }

    .react-time-picker__wrapper {
      border: none;

      color: #313e47;
    }

    .time-text {
      color: #313e47;
      font-weight: 500;
      font-size: 20px;
      padding: 0;
      margin: 0;

      border: none;

      input {
        padding: 0;
        margin: 0;
        color: #313e47;

        border: none;

        &:focus {
          outline: none;
          border: none;
          border-bottom: 2px solid #313e47;
        }
      }

      select {
        color: #313e47;
      }
    }

    .half-left {
      width: 50%;
      margin-right: 10px;
    }

    .half-right {
      width: 50%;
      margin-left: 10px;
    }


  }
}

.inner-section {
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
  border-radius: 6px;
  padding: 25px 30px;

  .percentage {
    padding-right: 25px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 25px;
  }
}

.admin-list-page {
  //Page
  padding: 20px 15px;
  background: #F9FaFB;


  .block-head {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
    border-radius: 6px;
    padding: 25px 30px;
  }

}

.main-service-page {
  //Page
  background: #F9FaFB;

  .block-head {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
    border-radius: 6px;
    padding: 25px 30px;
  }

}

.admin-zip-codes-page {
  .half-left {
    width: 50%;
    margin-right: 10px;
  }

  .half-right {
    width: 50%;
    margin-left: 10px;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .space-between {
    justify-content: space-between;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  padding: 0 15px 50px 15px;

  .main-title {
    font-weight: 600;
    font-size: 22px;
    color: #313e47;
    letter-spacing: 0.02em;
  }

  .zip-code-text {
    color: #313e47;
    font-weight: 500;
    font-size: 15px;
  }

  .state-section {
    margin-top: 50px;

    .single-zip-code-section {

      width: 162px;
      margin-top: 20px;
      margin-right: 40px;
      background: #ffffff;
      box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
      border-radius: 6px;
      padding: 10px 30px;
      transition: 0.2s ease-in-out all;

      &:hover {
        box-shadow: 0px 8px 8px rgba(216, 216, 216, 0.43);
      }
    }

    svg {
      cursor: pointer;
    }
  }
}

.admin-zip-codes-page-open {
  padding-top: 10px;

  .zipcode-agents-about {
    padding-top: 50px;

    .icon-delete {
      margin-left: 15px;
      margin-top: -10px;
      cursor: pointer;
    }

    span {
      font-weight: 800;
      font-size: 28px;
      line-height: 33px;
      color: #313E47;
    }
  }

  .calendar-icon {
    margin-left: 22px;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    .react-time-picker__wrapper {
      color: #313e47;
      font-weight: 500;
      font-size: 20px;
      padding: 0;
      margin: 0;

      border: none;
    }
  }

  .space-between {
    justify-content: space-between;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .main-title {
    font-weight: 600;
    font-size: 22px;
    color: #313e47;
    letter-spacing: 0.02em;
  }

  .inner-section {
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
    border-radius: 6px;
    padding: 25px 30px;
  }

  .discount-input {
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
    border-radius: 6px;
    padding: 25px 30px;
    width: 100%;
    border: none;

    &::placeholder {
      color: #313e47;
      opacity: 0.6;

      font-weight: 500;
      font-size: 20px;
    }
  }
}

table.custom-table {
  background-color: white;

  border: none;

  thead {
    border: none;

    background-color: #E5E5E5;

    tr {
      th {
        vertical-align: top;
        color: black;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }

  tbody {
    border: none;

    tr {
      transition: all 0.2s ease-in-out;

      &:hover {
        //box-shadow: 0px 25px 40px rgba(211, 211, 211, 0.56);
        box-shadow: 0px 0px 25px rgba(211, 211, 211, 0.8);

      }

      td {
        font-size: 18px;
        font-weight: 500;
        color: #313e47;
      }
    }
  }
}

//Ali end


.admin-service-page {
  padding-top: 65px;

  .add-services {
    background: #00b238;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    cursor: pointer;

    .add-service-img {
      margin-left: 17px;
      margin-top: 17px;
    }
  }

  .add-text {
    color: #313e47;
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
    display: inline;
  }

  .route-services {
    background: #f3f4f5;
    border-radius: 100px;
    height: 50px;
    display: flex;

    .online,
    .in-person,
    .router-active {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5px;
      height: 40px;
      width: 140px;
      border-radius: 100px;
      color: #b9bdc1;
      font-size: 16px;
      cursor: pointer;
    }

    .router-active {
      box-shadow: 0px 2px 2px rgba(187, 187, 187, 0.32);
      background-color: white;
      color: black;
    }
  }

  .services-section {
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
    border-radius: 6px;
    padding: 35px 40px;

    .notary-text,
    .notary-text-active {
      font-weight: bold;
      font-size: 28px;
      line-height: 33px;
      color: #b9bdc1;
    }

    .notary-text-active {
      color: #313e47;
    }

    .notary-commit {
      margin-top: 15px;
      color: #b9bdc1;
      font-size: 18px;
      line-height: 29px;
    }

    .notary-price,
    .notary-price-active {
      font-size: 45px;
      line-height: 55px;
      margin-top: 30px;
      color: #b9bdc1;
      font-weight: bold;
    }

    .notary-price-active {
      color: #313e47;
    }

    .edit-and-switch {
      display: flex;

      .edit-services {
        background-color: #f3f4f5;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        cursor: pointer;
      }
    }
  }
}

.input-text-area {
  //padding: 20px 10px;
  border-radius: 5px;
  background-color: white;
  //height: 500px;
  margin-top: 20px;
  //border: 10px;
  //border: none;
  box-shadow: 0px 10px 10px rgba(216, 216, 216, 0.33);
  color: #313e47;

  .ql-editor {
    height: 400px;
    overflow-y: auto;
  }
}

.new-post-section {
  width: 70%;

  .input-title {
    padding: 20px 10px;
    margin-top: 20px;
    border: none;
    padding: 10px;
    box-shadow: 0px 3px 3px rgba(216, 216, 216, 0.33);
    border-radius: 5px;

  }

  .input-file {
    //visibility: hidden;
    //&::before{
    //  content: 'Select some files';
    //  display: inline-block;
    //  background: linear-gradient(top, #f9f9f9, #e3e3e3);
    //  border: 1px solid #999;
    //  border-radius: 3px;
    //  padding: 5px 8px;
    //  outline: none;
    //  white-space: nowrap;
    //  -webkit-user-select: none;
    //  cursor: pointer;
    //  text-shadow: 1px 1px #fff;
    //  font-weight: 700;
    //  font-size: 10pt;
    //}
  }


  .cancel-btn-color {
    background-color: #313e47;
  }

  .delete-btn-color {
    background-color: #f10202;
  }
}

.admin-blog-page, .dynamic-page {


  .edit-post-section {
    width: 80%;

    .edit-post-image {
      width: 100%;
      height: auto;
    }
  }

  .small-posts {
    width: 30%;
    margin-left: 10%;
  }


}

.publish-btn {
  box-shadow: 0px 3px 3px rgba(216, 216, 216, 0.33);

  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #04a6fb;
  font-weight: 500;
  color: white;
  margin-top: 20px;
}

.button-container {
  display: flex;
  align-items: center;
  padding: 10px 0;

  .add-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #00B238;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    .fas {
      font-size: 14px;
    }
  }
}

#allModalStyle {

  .modal-content {
    background-color: #FFFFFF !important;
    border: none;
  }

  .modal-input {
    border: 1px solid black;
    //box-shadow: 0 0 10px 0 #00000030;
  }
}

.cursor-p {
  cursor: pointer;
}