.admin-order-page {
  padding-top: 55px;

  .sharing-history-row {
    .history-col {
      //cursor: pointer;
      border-radius: 6px;
      background-color: #fcfdfd;
      padding: 25px;
      transition: 0.4s all ease;
      margin-top: 20px;

      &:hover {
        box-shadow: 0px 25px 40px rgba(211, 211, 211, 0.56);
        background-color: white;
      }

      .border-line {
        opacity: 0.1;
        border: 1px solid #000000;
        transform: rotate(90deg);
        width: 45px;
        margin-top: 25px;
      }

      .right-icons {
        margin-top: 10px;
        cursor: pointer;
      }

      .feedback-text-admin {
        color: #808080;
        font-size: 15px;
        font-weight: 300;
        line-height: 25px;
        margin-top: 35px;
      }
    }
  }
}

.admin-agent-order {

  .userInfoWrapper {

    h6 {
      border-bottom: 1px solid #00000030;
      font-size: 18px;
      padding: 5px 10px 5px 0;
      width: max-content;

      &:first-child {
        font-size: 24px;
        font-weight: 600;
      }
    }
  }

  .current-order-row {
    margin-top: 40px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px 0px;
    background-color: white;
    box-shadow: 0px 0px 25px rgba(211, 211, 211, 0.56);

    .line {
      width: 100%;
      height: 1px;
      border-top: 1px solid #808080;
      background-color: #808080;
      opacity: 50%;
      margin-top: 15px;
    }
  }

  .main-row {
    padding-top: 50px;

    .card-name-upcoming, .card-name-completed, .card-name-in-progress, .card-name-rejected {
      width: 100%;
      height: 55px;
      display: flex;
      background-color: white;
      align-items: center;

      .color-card {
        height: 35px;
        width: 4px;
        background: #0090ff;
        border-radius: 2px;
        margin-left: 15px;
      }

      .name {
        color: #313E47;
        font-weight: 500;
        font-size: 16px;
        margin-left: 20px;
      }

      .card-count {
        background: #0090ff;
        border-radius: 6px;
        height: 42px;
        width: 42px;
        color: #F2F2F2;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 90px;
      }
    }

    .card-name-in-progress {
      .color-card {
        background: #FFC40B;
      }

      .card-count {
        background: #FFC40B;
      }
    }

    .card-name-completed {
      .color-card {
        background: #00B238;
      }

      .card-count {
        background: #00B238;
      }
    }

    .card-name-rejected {
      .color-card {
        background: #161716;
      }

      .card-count {
        background: #161716;
      }
    }

    .about-upcoming, .about-in-progress, .about-completed, .about-rejected {
      margin-top: 15px;
      background-color: white;
      padding: 5px 25px;
      transition: 0.4s all ease;
      border-radius: 6px;

      &:hover {
        box-shadow: 0px 25px 40px rgba(211, 211, 211, 0.56);
      }

      .agent-title, .location-title, .amount-client-title {
        color: #828282;
        font-size: 15px;
        line-height: 10px;
      }

      .agent-name, .amount {
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        color: #313E47;
        margin-top: 3px;
      }

      .line-border {
        opacity: 0.1;
        margin-top: 25px;
        border: 1px solid #000000;
      }

      .time-and-service {
        display: flex;
        margin-top: 10px;

        .time-order, .service {
          .time-title {
            font-size: 15px;
            line-height: 28px;
            color: #828282;
          }

          .time {
            span {
              font-weight: 500;
              font-size: 15px;
              line-height: 28px;
              color: #313E47;
            }

            .bordered {
              display: inline-block;
              height: 14px;
              opacity: 0.6;
              border: 1px solid #000000;
            }

          }
        }

        .service {
          margin-left: 50px;
        }

      }

      .location {
        font-weight: 500;
        font-size: 15px;
        line-height: 28px;
        color: #313E47;
      }

      .amount-client-title {
        display: flex;
        margin-top: 10px;

        .amount-title {
          font-size: 15px;
          line-height: 28px;
          color: #828282;
        }

        .amount {
          span {
            font-weight: 500;
            font-size: 15px;
            line-height: 28px;
            color: #313E47;
          }

          .bordered {
            display: inline-block;
            height: 14px;
            opacity: 0.6;
            border: 1px solid #000000;
          }

        }
      }
    }

    .about-in-progress {
      background-color: #F9F5EF;
    }

    .about-completed {
      background-color: #EFF5F6;
    }

    .about-rejected {
      background-color: rgba(203, 203, 203, 0.3);
    }
  }
}

.route-services {
  background: #f3f4f5;
  border-radius: 100px;
  height: 50px;
  display: flex;

  .online,
  .in-person,
  .router-active {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 40px;
    width: 160px;
    border-radius: 100px;
    color: #b9bdc1;
    font-size: 16px;
    cursor: pointer;
  }

  .router-active {
    box-shadow: 0px 2px 2px rgba(187, 187, 187, 0.32);
    background-color: white;
    color: black;
  }
}