@font-face {
  font-family: "SFProDisplay-Regular";
  //src: url("/public/assets/fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-Semibold";
  //src: url("/public/assets/fonts/SF-Pro-Display-Semibold.otf") format("opentype");
  font-display: swap;
}

.font-family-regular {
  font-family: "SFProDisplay-Regular", sans-serif !important;
}

body {
  font-family: "SFProDisplay-Regular", sans-serif !important;
}

.home-page {
  display: flex;

  .home-page-right {
    overflow-x: hidden;
    height: 100vh;
    padding: 50px 3vw 0;
    width: 100%;

    .sub-menu {
      position: absolute;
      top: 50%;
      width: 200px;
      padding: 20px;
      text-align: center;
      background-color: #f9fafb;
      z-index: 100000;

      a {
        color: #384049;
        font-size: 16px;
        text-decoration: none;
      }
    }
    .header {
      font-weight: bold;
      font-size: 40px;
      line-height: 50px;
      letter-spacing: -0.02em;
    }
    .home-header-section {
      color: #384049;


      .sub-text{
        font-weight: normal;
        font-size: 25px;
        line-height: 122.52%;
        letter-spacing: -0.02em;
      }
      .left-text{
        width: 50%;
        @media screen and (max-width: 787px) {
          width: 100%;
        }
      }
      .new-york{
        width: 50%;
        font-weight: normal;
        font-size: 33.6844px;
        line-height: 122.52%;
        text-align: right;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #D9DBDE;
        .clock{
          color: #384049;
        }
        @media screen and (max-width: 787px) {
          width: 100%;
          text-align: left;
        }
      }
    }

    .link-section {
      display: flex;
      @media screen and (max-width: 787px) {
        flex-direction: column;
      }
      .main-links{
        display: flex;
        @media screen and (max-width: 787px) {
          flex-direction: column;
        }
      }
      .link-button{
        margin-top: 10px;
        padding: 20px 40px;
        background-color: #F9FAFB;
        border-radius: 84px;
        @media screen and (max-width: 787px) {

        }
        a{
          transition: 0.3s all ease;
          font-style: normal;
          font-weight: normal;
          color: #384049;
          font-size: 18px;
          line-height: 122.52%;
          &:hover{
            font-weight: 500;
            text-decoration: none;
            color: #04A6FB;
            .icon{
              background-color: #04A6FB;
            }
          }
        }
      }
    }

    .home-part-section {
      display: flex;
      flex-direction: row;

      .img-half {
        width: 50%;

        .imgBox {
          height: 100%;

          .imgg {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

      }

      h4 {
        position: absolute;
        left: 0;
        bottom: 35%;
        z-index: 1;
        right: 0;
        text-align: center;
        font-size: 1.73611111111111vw;
        transition: 0.3s all linear;
      }

      p {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 40px;
        font-size: 1.25vw;
        z-index: 1;
        margin: 0 auto;
      }

      cursor: pointer;

      .link-white {
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0;
        z-index: 3;
        transition: 0.3s all linear;
        background-color: transparent;
      }

      .layer {
        background-color: #313e47;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transition: 0.3s all linear;
        opacity: 0;
      }

      .img-half:hover {
        .link-white {
          opacity: 1;
        }

        h4 {
          bottom: 50%;
        }

        .layer {
          background-color: rgba(49, 62, 71, 0.7);
          opacity: 1;
        }
      }
    }

    .home-client-section {
      padding: 5vh 3vw;
      background-color: #f9fafb;
      border-left: 1px solid #eaedee;

      .user-image {
        margin-bottom: 8vh;

        img {
          width: 4vw;
          height: 8vh;
          margin-right: 3vw;
        }

        color: #384049;
        letter-spacing: -0.03em;
        font-size: 1.8vw;

        @media screen and (max-width: 1300px) {
          font-size: 25px;

          img {
            width: 60px;
            height: 60px;
          }
        }
      }

      h5 {
        font-size: 3vw;
        margin-bottom: 2.5vh;
        color: #384049;

        @media screen and (max-width: 1300px) {
          font-size: 35px;
        }
      }

      p {
        line-height: 3vw;
        width: 64%;
        color: #384049;
        font-size: 1.8vw;

        @media screen and (max-width: 1300px) {
          font-size: 25px;
          line-height: 37px;
        }
      }

      .dots-list {
        .dot {
          margin-bottom: 1.8vh;
          width: 1vw;
          height: 2vh;
          background-color: #d8dbde;
          cursor: pointer;
          border-radius: 50%;

          &.active {
            background-color: #384049;
          }

          @media screen and (max-width: 1300px) {
            width: 14px;
            height: 14px;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 576px) {
  .home-page {
    .home-page-right {

      .home-part-section {
        flex-direction: column;

        .img-half {
          width: 100%;
        }

        h4 {
          font-size: 20px;
        }

        p {
          font-size: 16px;
        }

        .link-white {
          opacity: 0.3;
          width: 30px;
          height: auto;
        }

        .layer {
          opacity: 0.3;
        }
      }

      .home-client-section {
        padding: 20px;

        p {
          font-size: 16px;
          line-height: 120%;
        }

        .home-header-section {
          .back-icon {
            h4 {
              img {
                width: 30px;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}
