//global scroll bar

::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e5e5e5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #959595;
}

//Ali
.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.main-title {
  font-weight: 600;
  font-size: 22px;
  color: #313e47;
  letter-spacing: 0.02em;
}

.light-title {
  color: #838b91;
  font-weight: normal;
  font-size: 16px;
}

.check-box-title {
  color: #313e47;
  font-weight: 500;
  padding-left: 0 !important;
}

.dark-title {
  font-size: 16px;
  font-weight: 500;
  color: #313e47;
}

.margin-top-15 {
  margin-top: 15px;
}

input.half-left {
  width: 50%;
  margin-right: 10px;
}

input.half-right {
  width: 50%;
  margin-left: 10px;
}

.flex-row-times {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-left-15 {
  margin-left: 15px;
}

input.modal-input {
  box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
  border-radius: 6px;
  padding: 15px 20px;
  width: 100%;
  background-color: white;
  // border: 2px solid #5f5f5f;
  border: none;
  color: #313e47;
  font-weight: 500;
  font-size: 18px;

  &:focus {
    border: 1px solid black;
    outline: none;
    box-shadow: none;
  }

  &::placeholder {
    color: #313e47;
    opacity: 0.6;
    font-size: 18px;

    font-weight: 400;
  }
}

.blank-space {
  width: 10px;
  height: 10px;
}

.main-service-page-with-percentage {
  background: #f9fafb;

  .add-button {
    margin: 20px 15px 25px 25px;
  }

  .button-container {
    display: flex;
    align-items: center;
  }

  .block-head {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
    border-radius: 6px;
    padding: 25px 30px;
  }

  .block {
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
    border-radius: 6px;
    padding: 25px 30px;

    td {
      vertical-align: middle;
    }
  }
}

.holiday {
  min-height: 80vh;
  padding: 20px 15px;
  background: #f9fafb;

  .add-button {
    margin: 20px 15px 25px 25px;
  }

  .button-container {
    display: flex;
    align-items: center;
  }

  .block-head {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
    border-radius: 6px;
    padding: 25px 30px;
  }

  .block {
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
    border-radius: 6px;
    padding: 25px 30px;

    td {
      vertical-align: middle;
    }
  }
}

.country-page {
  min-height: 80vh;
  padding: 20px 15px;
  background: #f9fafb;

  .add-button {
    margin: 2vh 15px 25px 25px;
  }

  .button-container {
    display: flex;
    align-items: center;
  }

  .block-head {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
    border-radius: 6px;
    padding: 25px 30px;
  }

  .block {
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
    border-radius: 6px;
    padding: 25px 30px;

    td {
      vertical-align: middle;
    }
  }
}

//Add Abdurahmon for Holiday pages add style

//Ali end

.modal {
  background-color: transparent;

  #allModalStyle {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    right: 0 !important;
    position: absolute;
    box-shadow: -4px 2px 20px rgba(103, 113, 126, 0.34293);

    .modal-content {
      background: #f3f5f9;
      border-radius: -1;
      top: 0;
      right: 0;
      min-height: 100vh !important;
      max-width: 35vw !important;
      width: 35vw;

      .modal-header {
        border: none;

        .modal-title {
          padding: 30px;
          font-size: 32px;
        }

        .close {
          display: none;
        }
      }

      .modal-body {
        min-height: 60vh;

        .form-group {
          padding: 0px 30px 20px 15px;

          input,
          select {
            background-color: white;
            height: 50px;
            width: 100%;
          }
        }

        .basic-multi-select {
          padding: 0px 45px 20px 30px;
          margin-top: 10px;

          .select__control {
            background-color: transparent;
          }

          .select__value-container {
            height: 50px;
          }
        }
      }

      .modal-footer {
        border: none;
        margin-right: 14px;
        padding: 20px 30px 20px 30px;
      }
    }
  }
}

//Registration
.register-agent-page {
  height: 100vh;
  overflow-y: auto;
  width: 100%;
  background-color: white;

  .h-300 {
    height: 300px;
  }

  .w-40 {
    width: 39%;
  }

  .imgFrame {
    height: 45vh;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

    .img-frame{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

  }

  .dateTime {
    height: 45vh;
    width: 39%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;

    @media screen and (max-width: 1300px){
      font-size: 16px;
    }

    .dateTimeInput {
      font-size: 1.5vw;
      height: 8vh;
      padding: 0 1.5vw;
      cursor: pointer;
      background-color: #9abeff;

      @media screen and (max-width: 1300px){
        font-size: 16px;
      }
    }
  }

  .fourKVersion_2 {
    height: 60vh;
    position: relative;
  }

  .registerBtn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  @media screen and (max-width: 768px){
    .responsiveVersion {
      flex-direction: column;
      .imgFrame {
        width: 100%;
      }

      .dateTime {
        width: 100%;
      }
    }
  }

  .page-title {
    margin-left: 50px;
    font-weight: 800;
    font-size: 36px;
    line-height: 33px;
    letter-spacing: 0.02em;
    color: #313e47;
  }

  .form-section {
    background-color: #F9FAFB;
    //box-shadow: 0 10px 20px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 2vh 0;
    min-height: 75vh;
    width: 60vw;
    padding: 2.5vh 5vw;
    position: relative;


    .icon_back {
      position: absolute;
      font-size: 4vw;
      cursor: pointer;
      color: #C1C7D0;
      top: -.5vh;
      left: 2vw;

      @media screen and (max-width:992px){
        font-size: 3.5rem;
        top: -.5%;
        left: 2%;
      }
    }

    .mobileMenu {
      font-size: 24px;
      position: absolute;
      top: 3%;
      right: 7%;
      cursor: pointer;
      display: none;

      @media screen and (max-width: 768px){
        display: unset;
      }
    }

    .avatar-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 50%;
    }

    .save-btn {
      background-color: #04A6FB;
      font-size: 1.2vw;
      border: none;
      margin: 1vh .5vw;
      padding: 1.5vh 2vw;
      font-weight: 500;

      @media screen and (max-width: 992px){
        font-size: 16px;
        margin-right: 10px;
        padding: 10px 1rem;
      }
    }

    .submit-btn {
      background-color: #00B238;
    }

    .form-group {
      margin-bottom: 0;
    }

    input {
      color: black;
      font-weight: 400;
      padding: 27px;
      border: none;
      background-color: white;
      border-radius: 5px;


      &:focus {
        background-color: white;

        box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.1);
      }

      &:valid {
        border: none;
      }

      &::placeholder {
        color: #262626;
      }
    }


    .form-label {
      font-weight: 500;
      margin-right: 10px;
      color: #313e47;
      text-align: right;
    }

    .form-section-title {
      margin-bottom: 4vh;
      font-weight: bold;
      font-size: 2vw;
      color: #313e47;

      @media screen and (max-width: 992px){
        font-size: 28px;
        line-height: 33px;
      }
    }
  }

  .stepCounter {
    margin:  2vh;

    .circle-active, .circle {
      width: 4.7vw;
      height: 10vh;
      position: relative;

      .active-step, .steps {
        width: 90%;
        height: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .icon {
          width: 40%;
          height: 40%;
        }
      }

      @media screen and (max-width: 1366px){
        width: 65px;
        height: 65px;
      }
    }

    .step-text {
      font-size: 1.2vw;
      margin-top: 2vh;
      line-height: 1.2vw;
      @media screen and (max-width: 1366px){
        font-size: 16px;
        line-height: 18px;
      }
    }
  }

  .fourKVersion {
    height: 66vh;
    padding: 0 .5vw;

    @media screen and (max-width: 992px){
      height: 100%;
    }

    .blockInput {
      margin: 1vh 0;

      .modal-blockInput {
        width: 98%;
        height: 9vh;
        padding: 2vh 1.5vw;
        font-size: 1.3vw;

        @media screen and (max-width: 992px){
          font-size: 16px;
          padding: 10px 1rem;
        }
        &::placeholder {
          font-size: 1.2vw;

          @media screen and (max-width: 992px){
            font-size: 14px;
          }
        }
      }
    }
  }
  .certificate {
    font-size: 1.6vw;
    @media screen and (max-width: 1300px){
      font-size: 24px;
    }
  }
}

.per-admin-page {
  .single-admin {
    box-shadow: 0 4px 4px rgba(216, 216, 216, 0.33);
    border-radius: 6px;
    background-color: #FCFDFD;
    padding: 20px 30px 20px 20px;
    transition: 0.3s ease-in-out all;

    .fake-anchor {
      cursor: pointer;
      color: #0000FF;

      &:hover {
        text-decoration: underline;
      }
    }

    .label-text {
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.02em;
      color: #828282;
    }

    .main-text-20 {
      font-weight: bold;
      font-size: 20px;
      line-height: 28px;
      color: #313E47;
    }

    .main-text-17 {
      font-weight: 500;
      font-size: 17px;
      line-height: 28px;
      color: #313E47;
    }

    .main-text-15 {
      font-weight: 500;
      font-size: 15px;
      line-height: 28px;
      color: #313E47;
    }

    .avatar-container {
      position: relative;

      .avatar-status-online {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #00B238;
        border: 3px solid white;
      }

      .avatar-status-offline {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #313e47;
        border: 3px solid white;
      }

      .avatar-img {
        width: 65px;
        height: 65px;
        border-radius: 50%;
      }

    }

    .inprogress-color {
      color: #FFC30B;
    }

    .completed-color {
      color: #00B238;
    }

    .rejected-color {
      color: #313e47;
    }

    .upcoming-color {
      color: #04a6fb;
    }

    .name-div {
      width: 230px;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    .location-time-div {
      width: 280px;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    .price-div {
      width: 130px;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    .service-type-div {
      width: 100px;
    }

    &:hover {
      background: #FFFFFF;
      box-shadow: 0px 25px 40px rgba(211, 211, 211, 0.56);
    }
  }
}

.edit-btn {
  cursor: pointer;
  margin: 10px;
  box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
  width: 200px;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: white;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: 0.2s ease-in-out all;

  &:hover {
    background-color: #313e47;
    color: white;

    svg {
      fill: white;
    }
  }
}

.info-box {
  background-color: white;
  padding: 20px;
  border-radius: 6px;

  .label {
    width: 120px;
    margin-right: 20px;
    color: #313e47;
  }

  .info-item {
    color: black;
  }
}

.checkbox-section {
  padding: 0px 30px 20px 15px;

  .single-checkbox-section {
    padding: 5px;
    border-bottom: 1px solid #959595;
    cursor: pointer;
  }
}

.main-text-20 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #313E47;
}

/*MODAL CUSTOM STYLE BEGIN*/
.modal-backdrop.show {
  background-color: #f9fafb;
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}

.modal.fade:not(.show).right .modal-dialog {
  -webkit-transform: translate3d(125%, 0, 0);
  transform: translate3d(125%, 0, 0);
}

.modal.right {
  cursor: url("/assets/icons/close.svg"), auto;
}

.my-modal {
  cursor: auto;
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 530px;
  max-width: 90%;
  height: 100vh;
}

.my-modal .modal-content {
  overflow: auto;
  height: 100%;
  border: none;
  border-radius: 0;
  box-shadow: 9px 0 50px rgba(208, 208, 208, 0.43);
}

/*===CONFIRM MODAL STYLE===*/
.confirm-modal .confirm-modal-content .modal-content {
  border: none;
  border-radius: 6px;
  box-shadow: 9px 0 50px rgba(208, 208, 208, 0.43);
}

/*MODAL CUSTOM STYLE END*/

.blog-page {
  width: 100%;
  background-color: #F9FAFB;
  height: 100vh;
  overflow-y: auto;
  position: relative;

  .fas {
    position: absolute;
    top: 7%;
    right: 5%;
    font-size: 24px;
    cursor: pointer;
    display: none;
    @media screen and (max-width: 768px){
      display: unset;
    }
  }

  .page-title-container {
    padding: 50px;
    width: 100%;

    h1 {
      font-weight: 500;
      font-size: 70px;
      color: #313e47;
      text-align: center;
    }
  }

  .page-content {

    display: flex;
    flex-direction: row;
    align-items: start;

    .big-posts {

      width: 65%;
      padding: 0 30px;
    }

    .small-posts {
      width: 35%;
      padding: 0px 30px 0px 60px;

    }
  }

}

.featured-posts-title {
  font-weight: 600;
  font-size: 25px;
  padding-bottom: 10px;
  margin-bottom: 50px;
  border-bottom: 1px solid #c7c8c9;
}

.blog-category {
  transition: all .3s ease;
  cursor: pointer;
  color: #313e47;

  &::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    background-color: #04A6FB;
    border-radius: 50%;
    vertical-align: middle;
  }

  &:hover {
    margin-left: 5px;
  }
}

.inPerson-order-page-new, .online-order-page-new {
  display: flex;

  .right-site {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    padding-top: 90px;

    .container-fluid {
      padding: 0 80px;

      .next-btn button {
        margin-top: 40px;
        width: 200px;
        height: 60px;
        color: white;
        box-shadow: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #313E47;
        border-radius: 2px;
      }

      .title {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #313E47;
      }

      .all-step-inPerson {
        margin-top: 60px;

        .circle, .circle-active {
          width: 65px;
          height: 65px;
          padding-top: 4.5px;
          border: 1px solid #EAECED;
          border-radius: 50%;
          margin: 0 auto;

          div {
            width: 55px;
            height: 55px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #EAECED;
            cursor: pointer;
            margin: 0 auto;

            .icon {
              width: 22px;
              height: 25px;
            }
          }
        }

        .circle-active {
          border: 1px solid #04A6FB;

          div {
            background-color: #04A6FB;

            .icon {
              background-color: white;
            }
          }
        }

        .step-text {
          margin-top: 15px;
          text-align: center;
          font-weight: 500;
          font-size: 18.9515px;
          line-height: 23px;
          color: #313E47;
        }

        .bordered-line {
          margin-top: 35px;
          border: 1px solid #EAECED;
        }

      }

      .step-one {
        margin-top: 60px;
        padding: 50px 40px 40px 40px;
        background: #F9FAFB;
        box-shadow: 0px 2px 2px rgba(212, 212, 212, 0.2);
        border-radius: 5px;

        .please-address {
          font-weight: 500;
          font-size: 30px;
          line-height: 36px;
          color: #313E47;
        }

        input {
          height: 70px;
          backdrop-filter: blur(16.3097px);
          border-radius: 2px;
          border: none;
          margin-top: 35px;
          box-shadow: none;

          &:focus {
            border: 1px solid black;
          }
        }
      }

      .step-two {
        margin-top: 60px;

        .collapse-employment {
          background: #F9FAFB;
          box-shadow: 0px 2px 2px rgba(212, 212, 212, 0.31);
          border-radius: 5px;
          padding: 30px 35px;

          .employment {
            font-weight: normal;
            font-size: 22px;
            line-height: 26px;
            letter-spacing: 0.02em;
            color: #313E47;
            margin-left: 25px;
          }

          .down-icon, .up-icon {
            display: flex;
            justify-content: flex-end;
            width: 70%;
            cursor: pointer;

            img {
              transform: rotate(180deg);
            }
          }

          .up-icon {
            img {
              transform: unset;
            }
          }
        }

        .open-collapse {
          background-color: #F9FAFB;
          padding: 30px 35px;

          .additional-service {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: rgba(0, 0, 0, 0.85);
            margin-bottom: 20px;
          }
        }
      }

      .step-three {
        margin-top: 60px;
        background: #F9FAFB;
        box-shadow: 0px 2px 2px rgba(212, 212, 212, 0.2);
        border-radius: 5px;
        padding: 50px 40px 40px 40px;

        .select-data, .select-time {
          font-weight: 500;
          font-size: 28px;
          line-height: 33px;
          color: #313E47;
        }

        .date {
          margin-top: 25px;
          padding: 25px 30px;
          background-color: white;

          .down-arrow {
            transform: rotate(90deg);
            cursor: pointer;
          }

          .down-arrow2 {
            transform: rotate(-90deg);
            cursor: pointer;
          }

          .day {
            font-weight: 500;
            font-size: 17px;
            line-height: 20px;
            color: #050000;
          }
        }

        .select-time {
          margin-top: 40px;
        }

        .times {
          padding: 25px 30px;
          background-color: white;
          margin-top: 25px;

          .time {
            font-weight: 500;
            font-size: 17px;
            line-height: 20px;
            color: #050000;
          }
        }

        .step-footer {
          display: flex;

          .write-text {
            font-size: 17px;
            line-height: 20px;
            color: #313E47;
            margin-top: 70px;

            span {
              color: #04A6FB;
            }
          }

          .next-step {
            display: flex;
            justify-content: flex-end;
            width: 47%;

            button {
              margin-top: 50px;
            }
          }
        }
      }

      .step-four {

        margin-top: 60px;

        .step-four-input {
          margin-top: 20px;
          background: #F9FAFB;
          backdrop-filter: blur(16.3097px);
          height: 70px;
          border: none;
          box-shadow: none;

          &:focus {
            border: 1px solid black;
          }
        }

        .notification-settings {
          display: flex;

          .next-btn {
            justify-content: flex-end;
            display: flex;
            width: 50%;
          }
        }
      }

      .step-five {
        margin-top: 60px;

        .order-type {
          background: #F9FAFB;
          box-shadow: 0px 2px 2px rgba(212, 212, 212, 0.2);
          border-radius: 5px;
          padding: 30px 40px;
          transition: 0.4s all ease-in-out;
          position: relative;

          .type {
            font-weight: 600;
            font-size: 30px;
            line-height: 36px;
            color: #313E47;

          }

          .commit {
            font-weight: normal;
            font-size: 15px;
            line-height: 25px;
            color: #000000;
            margin-top: 20px;

          }

          .selected-order-type {
            position: absolute;
            top: 20px;
            right: 20px;
            opacity: 0;
            cursor: pointer;
          }

          &:hover {
            background-color: #CDEDFE;

            .type, .commit {
              color: #04A6FB;
            }

            .selected-order-type {
              opacity: 1;
            }
          }
        }
      }

      .online-step-one {
        margin-top: 60px;

        .real-estate {
          background: #F9FAFB;
          box-shadow: 0px 2px 2px rgba(212, 212, 212, 0.31);
          border-radius: 5px;
          font-weight: 500;
          font-size: 22px;
          line-height: 26px;
          color: #313E47;
          padding: 22px 30px;
          position: relative;

          img {
            position: absolute;
            right: 25px;
            top: 25px;
          }
        }

        .notarized {
          background: #F9FAFB;
          box-shadow: 0px 2px 2px rgba(212, 212, 212, 0.31);
          border-radius: 5px;
          margin-top: 40px;
          padding: 50px 40px 40px 40px;

          .document {
            font-weight: 500;
            font-size: 28px;
            line-height: 33px;
            color: #313E47;
          }

          .file-upload {
            font-size: 14px;
            line-height: 17px;
            margin-top: 10px;
            color: #313E47;
          }

          .upload {
            border: 1px solid black;

          }

          .uploaded-file {
            width: 84px;
            height: 84px;
            background-color: white;
            text-align: center;
            box-shadow: 0px 2px 2px rgba(187, 187, 187, 0.32);
            border-radius: 5px;
            margin-left: 25px;

            .file-name {
              margin-top: 8px;
              font-size: 13px;
              line-height: 20px;
              letter-spacing: -0.266667px;
              color: rgba(0, 0, 0, 0.85);
            }

          }
        }

        .next-btn {
          display: flex;
          justify-content: flex-end;
          width: 50%;

          button {
            margin-top: 0;
          }
        }
      }
    }
  }
}


.forgot-password-page {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  .info {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .enter-password {
    padding: 30px;
    box-shadow: 0px 25px 40px rgba(211, 211, 211, 0.56);

    h3 {
      color: #04A6FB;
    }

    input {
      margin-top: 20px;
      height: 60px;
      box-shadow: none;
      border-radius: 0;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      border-bottom: 1px solid black;

      &:focus {
        box-shadow: none;
        border: 1px solid black;
      }
    }

    button {
      height: 50px;
      font-size: 18px;
      background-color: #04A6FB;
      color: white;
      width: 180px;
      margin-top: 20px;
      border: none;
      box-shadow: none;

    }
  }
}

.terms-page {
  width: 100%;
  padding: 60px 100px;

  .terms-title {
    color: #313e47;
    font-size: 40px;
  }
}


  .pagination{
    border-radius: 0;
    margin: 0 auto 0 auto;
    justify-content: center;
    .page-item {

      .page-link {
        border: none;
        color: #313e47;
        background-color: transparent;
        border-radius: 5px;
        padding: 8px 13px;
        text-align: center;
        font-weight: 500;
        transition: all .3s ease;
        &:hover{
          background-color: #04a6fb;
          color: white;
        }
      }
    }
      .page-item.disabled{
        .page-link{
          background-color: transparent;
          color: #959595;
        }
      }
      .page-item.active{
        .page-link{
          background-color: #04a6fb;
          color: white;
        }
      }
  }

  .faq-page {
    height: 100vh;
    overflow-y: auto;
    .page-name{
      text-align: center;
    }
    .faq-item{
      padding: 10px 0;
      border-bottom: 2px solid black;
      .title{
        color: #313e47;
        font-size: 20px;
      }
      .content{
        font-size: 20px;
        color: #898989;
      }
    }
  }

@media screen and (min-width: 576px) {
  #allModalStyle.modal-dialog {
    max-width: unset !important;
  }
}

@media screen and (max-width: 576px) {
  .terms-page {
    padding: 30px 20px;
  }

  .blog-page {
    width: 100%;
    padding: 30px 20px;

    .page-title-container {
      padding: 0;
    }

    .page-content {
      flex-direction: column;

      .big-posts {

        width: 100%;
        padding: 0;
      }

      .small-posts {
        width: 100%;
        padding: 0;
      }
    }

  }
  .forgot-password-page {
    width: 100%;
    padding: 0;
  }
  
}

@media screen and (max-width: 769px) {
  .modal {
    #allModalStyle {
      width: 100%;

      .modal-content {
        width: 100vw;
        max-width: 100vw !important;
        background-color: #F3F5F9;
      }
    }
  }
  .register-agent-page{
    padding: 0;

    .form-section{
      margin: 0;
      width: 100vw;
      min-height: 100vh;
      padding: 20px 30px;
      .w-sm-100{
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .container{
    max-width: 100% !important;
  }
}

.blockServBtn {
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#dateTimeInput_2 {
  font-size: 1.5vw;
  height: 8vh;
  padding: 0 1.5vw;
  cursor: pointer;

  @media screen and (max-width: 1300px){
    font-size: 16px;
  }
}

.label_3 {
  font-size: 1.5vw;

  @media screen and (max-width: 1300px){
    font-size: 16px;
  }
}

#dateTimeInput_3 {
  font-size: 1.2vw;

  @media screen and (max-width: 1300px){
    font-size: 16px;
  }
  height: 7vh;
}

.register-agent-page_3 {
  @media screen and (max-width: 768px){
    flex-direction: column;

    .imgFrame {
      width: 100%;
    }

    .blockServBtn {
      width: 100%;
    }
  }
}