.footer-font {
  font-size: 14px;
  margin-bottom: 10px;
  color: #384049;
  opacity: 0.5;
  @media screen and (max-width: 992px){
    font-size: 16px;
  }

  img {
    width: 2vw;
    height: 2.7vh;
    object-fit: contain;
  }
}

.dates-font {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #313E47;
  @media screen and (max-width: 992px){
    font-size: 14px;
  }
}

.dates-icons{
  width: 20px;
  height: 20px;
}

.colMd-6 {

  &:nth-child(3), &:nth-child(4) {
    margin-top: 7vh;
  }

  @media screen and (max-width: 768px){
    &:nth-child(3), &:nth-child(4), &:nth-child(2) {
      margin-top: 1.2rem;
    }
  }
}