.foot_block {
  padding-top: 3vh;
}

li {
  a {
    font-size: 1.1vw;
    color: #8B9196;
    line-height: 1.8vw;
    @media screen and (max-width: 1000px){
      font-size: 12px;
      line-height: 12px;
    }
  }
  h5 {
    font-size: 1.4vw;
    font-weight: 600;
    line-height: 2vh;
    @media screen and (max-width: 1000px){
      font-size: 16px;
    }
  }
}

.h_100 {
  height: 100% !important;
}