.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 150px;
  @media screen and (max-width: 992px) {
    flex-direction: column;

  }
  .left_wrapper {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media screen and (max-width: 992px) {
      width: 100%;
    }

    .content_span {
      width: 100%;
      font-size: 16px;
      line-height: 30px;
      letter-spacing: -0.02em;
      color: #384049;

      @media screen and (max-width: 992px){
        width: 100%;
      }
    }

    .btns {
      display: flex;

      .buttons {
        width: 16vw;
        padding: 2vh 0vw;
        display: flex;
        border-radius: 10px;
        border: 1px solid #C3C6C8;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        background-color: transparent;
        font-size: 1.2vw;
        margin-top: 4vh;

        &:active {
          transform: scale(0.95);
        }

        &:hover {
          border-color: #384049;
        }

        &:last-of-type {
          margin-left: 2vw;
        }

        &:focus {
          outline: none;
        }
      }
    }

    @media screen and (max-width: 992px) {
      .content_span {
        font-size: 15px;
      }

      .btns {
        .buttons {
          width: 49%;
          font-size: 16px;
        }
      }
    }

    @media screen and (max-width: 600px) {
      .content_span {
        font-size: 16px;
      }

      .btns {
        flex-direction: column;
        align-items: center;

        .buttons {
          justify-content: center;
          width: 80%;
          font-size: 14px;

          &:last-of-type {
            margin-left: 0;
            margin-top: 5px;
          }
        }
      }
    }


  }
  .right_wrapper {
    width: 60%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    @media screen and (max-width: 992px) {
      width: 100%;
      margin-bottom: 50px;
    }

    img {
      width: 100%;
      object-fit: contain;
      @media screen and (max-width: 992px) {
        width: 100%;
      }
    }

  }

  @media screen and (max-width: 992px) {
    flex-direction: column-reverse;
  }
}

