.modalBlock {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  right: -100%;
  transition: 0.3s all linear;
  z-index: 25;

  &.modalBlockIsOpen {
    right: 0;
  }

  .sign-modal-container {
    height: 100%;
    width: 37%;
    background-color: #F9FAFB;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;

    .sign-modal-container-content {
      padding: 7vh 3vw;
      position: relative;

      .close-icon {
        position: absolute;
        top: 2%;
        right: 5%;
        cursor: pointer;
        display: none;

        @media screen and (max-width: 768px) {
          display: unset;
        }
      }

      h2 {
        font-size: 3vw;
        line-height: 24px;
        color: #4D5860;
        text-transform: uppercase;
        @media screen and (max-width: 992px) {
          font-size: 50px;
        }
      }

      form, .formFake {
        margin-top: 3vh;

        .icon_father {
          position: relative;

          .fas {
            position: absolute;
            top: 4vh;
            transform: translateY(-50%);
            right: 1vw;
            font-size: 1.2vw;
            cursor: pointer;

            @media screen and (max-width: 992px) {
              font-size: 16px;
            }
          }
        }

        .modal-input {
          background-color: #fff;
          border-radius: 0;
          padding: 2vh 1.5vw;
          height: 8vh;
          //border: 1px solid black;
          box-shadow: none;
          font-size: 1.5vw;
          margin: 4vh 0;

          &::placeholder {
            color: #000000;
            font-size: 1.3vw;
          }

          @media screen and (max-width: 992px) {
            font-size: 18px;
            padding: 2vh 3vw;
            &::placeholder {
              font-size: 16px;
            }
          }
        }

        .forgot-password {
          font-size: 1.5vw;

          @media screen and (max-width: 992px) {
            font-size: 18px;
          }
        }

        .goAccount {
          font-size: 1.5vw;
          cursor: pointer;
          margin-left: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #04A6FB;
          transition: .3s ease-in-out;

          .fas {
            margin-right: 10px;
            font-size: 2vw;
          }

          &:hover {
            color: #00679f;
          }

          @media screen and (max-width: 992px) {
            font-size: 16px;
            .fas {
              font-size: 28px;
            }
          }
        }

        button {
          margin-top: 1vh;
          background-color: #04A6FB;
          color: #fff;
          width: 13vw;
          font-size: 1.5vw;
          font-weight: 600;
          border: none;
          height: 8.5vh;
          border-radius: 2px;
          transition: .3s ease-in-out;

          &:hover {
            background-color: #00679f;
          }

          @media screen and (max-width: 992px) {
            width: 35vw;
            font-size: 18px;
          }

          &:focus {
            background-color: #029dee;
            outline: none;
          }

          &:disabled {
            opacity: .7;
            cursor: not-allowed;
          }
        }

        .validData {
          padding-top: 10px;
          line-height: 1.8vw;
          font-size: 1.2vw;

          @media screen and (max-width: 992px) {
            font-size: 16px;
            line-height: 22px;
          }

          .hasAccount {
            span {
              margin-left: 4px;
              color: #04A6FB;
              cursor: pointer;
            }
          }
        }
      }

      .agreement {
        font-size: 1vw;
        color: #313e47;
        cursor: pointer;
        margin-left: 1vw;

        .agreeCheck {
          width: 1.2vw;
          height: 2.2vh;
          transform: translateX(-1vw);
        }

        @media screen and (max-width: 992px) {
          font-size: 16px;
          margin-bottom: 10px;

          .agreeCheck {
            width: 15px;
            height: 15px;
          }
        }
      }
    }

    .qrBlock {
      margin-top: 4vh;
    }
  }

  .sign-modal-container-bg {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9) 30%, #ffffff 70%);
    transition: 0.3s all linear;
    height: 100%;
    width: 55%;
    margin-left: 8%;
    padding-left: 2%;


    .bg-content {
      width: 100%;
      height: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .sign-modal-container {
      width: 100%;

      .sign-modal-container-content {
        padding: 40px 30px;
      }
    }

    .sign-modal-container-bg {
      display: none;
    }
  }

}