.qrApp {
  .bottom-img-QR {
    display: flex;

    .imgQrApp {
      width: 5vw;
      height: 10vh;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      @media screen and (max-width: 768px){
        width: 10vw;
        height: 8vh;
      }
    }

    .account-size {
      font-size: 1.5vw;
    }

    .p-font-modal {
      font-size: 1.2vw;
    }

    @media screen and (max-width: 992px) {
      .account-size {
        font-size: 16px;
      }

      .p-font-modal {
        font-size: 14px;
      }
      img {
        width: 12vw;
        height: 10vh;
        object-fit: contain;
      }
    }
  }

  .bottom-App-button {
    display: flex;
    margin-top: 3.5vh;

    .button-qr {
      border: 1px solid #BFC2C6;
      background-color: transparent;
      color: #384049;
      padding: 4% 5%;
      width: max-content;
      transition: .2s ease-in-out;
      font-size: 1.2vw;

      &:hover {
        border-color: #384049;
      }


      &:active {
        transform: scale(.95);
      }

      &:focus {
        outline: none;
      }

      &:last-child {
        margin-left: 2vw;
      }
    }

    @media screen and (max-width: 992px) {
      flex-direction: column;
      .button-qr {
        font-size: 16px;
        width: 100%;
        margin: 1vh 0;
        &:last-child {
          margin-left: 0;
        }
      }
    }
  }


}
