.wrapper2 {
  display: flex;
  align-items: center;
  @media screen and (max-width: 992px){
    flex-direction: column;
  }
  .left_wrapper {
    width: 50%;
    .boxes {
      cursor: pointer;
      transition: 0.3s ease-in-out all;
      padding-left: 40px;
      margin: 50px 0;
      .title {
        font-weight: 600;
        transition: 0.3s ease-in-out all;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: #313E47;
      }
      .active-title{
        color: #04A6FB;
      }
      .content {
        margin-top: 15px;
        transition: 0.3s ease-in-out all;
        font-size: 16px;
        line-height: 28px;
        display: flex;
        align-items: center;
        color: #384049;
        opacity: 0.55;
      }
      .active-content{
        opacity: 1;
      }
      @media screen and (max-width: 992px){
        font-size: 14px;
      }
    }

    @media screen and (max-width: 992px){
      width: 100% !important;
    }
  }
  .block-box-active{
    border-left: 4px solid #04A6FB;
  }

  .right_wrapper {
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
    padding: 100px;
    img {
      width: 100%;
    }
    @media screen and (max-width: 992px){
      display: none;
      width: 100%;
    }
  }


}