.serves {
  padding: 6vh 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px 150px;
  grid-row-gap: 30px;
  grid-column-gap: 30px;

  @media screen and (max-width: 992px) {
    display: flex;
    flex-direction: column;
  }

  .logos {
    grid-row: 1/3;
    grid-column: 1/2;
    background-color: #F9FAFB;
    padding: 8vh 3vw;
    border-radius: 10px;
    .sub-text{
      letter-spacing: -0.05em;
      font-size: 27px;
      line-height: 122.52%;
      color: #313E47;
    }
  }

  .service-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-radius: 10px;
    background-color: #F9FAFB;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #313E47;
    text-decoration: none;
    transition: .3s all ease;
    .icon{
      align-self: start;
      width: 30px;
      height: 30px;
    }
    &:hover{
      color: #04A6FB;
      font-weight: 500;
      .icon{
        background-color: #04A6FB;
      }
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
