.wrapper3 {
  padding: 3vh 3vw;
  background-color: #fff;

  .top_wrapper {
    .cards {
      display: flex;
      margin-top: 2rem;
      justify-content: space-between;
      .cart {
        width: 32%;
        cursor: pointer;

        .card_header {
          display: flex;
          background: #f9fafb;
          border-radius: 4.59845px 4.59845px 0px 0px;
          padding: 0.5rem 0;

          .avatar_name {
            padding: 0 1rem;
            justify-content: flex-start;
            img {
              width: 35px;
              height: 35px;
              border-radius: 50%;
              margin-right: 0.5rem;
            }
            .name {
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
              color: #384049;
            }
          }
          .icon_logo {
            object-fit:contain;
            transform: scale(.3)
          }

          div {
            padding: 10px 0;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #F9FAFB;
          }
        }

        .card_body {
          font-weight: 500;
          border: 1px solid #f9fafb;
          padding: 0.5rem 1rem 0 1rem;

          .title {
            font-size: 16px;
            line-height: 37px;
            color: #384049;
          }
          .content {
            color: #92969B;
            font-size: 14px;
            line-height: 28px;
            text-align: justify;
          }
        }
      }

      @media screen and (max-width: 992px){
        flex-direction: column;
        .cart {
          width: 100%;
          &:nth-child(2) {
            margin: 10px 0;
          }
        }
      }
    }
  }
}

.bottom_wrapper {
  margin-top: 2rem;
  border-top: 1px solid #D8DBDE;
  padding-top: 2rem;
  display: flex;
  div {
    width: 20%;
    img {
      object-fit: contain;
      width: 80%;
      height: 100%;
    }

    &:nth-child(2), &:nth-child(4) {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 50%;
      }
    }
  }
}

  .cartLength {
    padding: 1rem 0;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .circle {
      width: 15px;
      height: 15px;
      background-color: #D8DBDE;
      border-radius: 50%;
      margin: 0 4px;
      cursor: pointer;
    }

    .bg-active {
      background-color: #384049;
    }
  }

  .rec-carousel-item{
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 0 .5rem;
    box-sizing: border-box;
  }