@mixin label {
  border: 2.5px solid #6daff7;
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 2px;
  transform: translateX(-20px);
  cursor: pointer;
}

@mixin lableBefore {
  content: "";
  background-color: transparent;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin labelAfter {
  width: 400px;
  position: absolute;
  top: 50%;
  transform: translate(10%, -50%);
}

@mixin input {
  visibility: hidden;
  &:checked + Label {
    &::before {
      background-color: #6daff7;
    }
  }
}

.fs-15 {
  font-size: 15px;
  line-height: 18px;
  color: #828282;
}

.form-control[disabled],
.form-control[readonly] {
  background-color: transparent !important;
}

.fs-15-bold {
  font-size: 15px;
  line-height: 18px;
  color: #313e47;
  font-weight: 500;
}

.fs-20 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #828282;
}

.fs-20-bold {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #313e47;
}

.fs-32-bold {
  font-weight: bold;
  font-size: 32px;
  line-height: 28px;
}

.progress-color {
  color: #ffc30b;
}

.bg-color {
  background-color: #f5f5f5;
}

.main-text-color {
  color: #5196ff;
}

.minus-color {
  color: #04a6fb;
}


.main-page-client {
  padding-bottom: 20px;

  .main-row {
    padding-top: 85px;

    .card-name-upcoming,
    .card-name-completed,
    .card-name-in-progress {
      width: 100%;
      height: 65px;
      display: flex;
      background-color: white;
      align-items: center;

      .color-card {
        height: 35px;
        width: 4px;
        background: #313e47;
        border-radius: 2px;
        margin-left: 15px;
      }

      .name {
        width: 300px;
        color: #313e47;
        font-weight: 500;
        font-size: 16px;
        margin-left: 20px;
      }

      .card-count {
        background: #313e47;
        border-radius: 6px;
        height: 42px;
        width: 42px;
        color: #f2f2f2;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 160px;
      }
    }

    .card-name-in-progress {
      .color-card {
        background: #ffc40b;
      }

      .card-count {
        background: #ffc40b;
      }
    }

    .card-name-completed {
      .color-card {
        background: #00b238;
      }

      .card-count {
        background: #00b238;
      }
    }

    .about-upcoming,
    .about-in-progress,
    .about-completed {
      margin-top: 20px;
      background-color: white;
      padding: 25px;
      transition: 0.4s all ease;
      border-radius: 6px;

      &:hover {
        box-shadow: 0px 25px 40px rgba(211, 211, 211, 0.86);
      }

      .agent-title,
      .location-title,
      .amount-title {
        color: #828282;
        font-size: 15px;
        line-height: 18px;
      }

      .agent-name,
      .amount {
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        color: #313e47;
        margin-top: 3px;
      }

      .line-border {
        opacity: 0.1;
        margin-top: 25px;
        border: 1px solid #000000;
      }

      .time-and-service {
        display: flex;
        margin-top: 20px;

        .time-order,
        .service {
          width: 35%;

          .time-title {
            font-size: 15px;
            line-height: 28px;
            color: #828282;
          }

          .time {
            span {
              font-weight: 500;
              font-size: 15px;
              line-height: 28px;
              color: #313e47;
            }

            .bordered {
              display: inline-block;
              height: 14px;
              opacity: 0.6;
              border: 1px solid #000000;
            }
          }
        }

        .service {
          margin-left: 50px;
        }
      }

      .location {
        font-weight: 500;
        font-size: 15px;
        line-height: 28px;
        color: #313e47;
      }
    }

    .about-in-progress {
      background-color: #f9f5ef;
    }

    .about-completed {
      background-color: #eff5f6;
    }
  }
}

.order-page-client {
  padding: 1rem 0 2rem 0;

  .main-col {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    transition: 0.4s all ease;

    &:hover {
      box-shadow: 0px 25px 40px rgba(211, 211, 211, 0.56);
    }

    .agent-name {
      width: 250px;
    }

    .user-img {
      img {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        object-fit: cover;
      }
    }

    .userName {
      margin-left: 20px;

      .name-title {
        font-size: 15px;
        line-height: 15px;
        color: #828282;
      }

      .name {
        font-weight: bold;
        font-size: 17px;
        line-height: 22px;
        color: #313e47;
        margin-top: 3px;
      }
    }

    .border-line {
      opacity: 0.1;
      width: .5px;
      background-color: #000;
      height: inherit;
    }

    .time-div,
    .time-sum,
    .service-type {
      margin-left: 45px;
      width: 150px;
    }

    .time-sum {
      .time-minus {
        height: 25px;
        color: #04a6fb;
      }
    }

    .three-dots-vertical {
      display: none;
    }

    .three-dots {
      display: flex;
      padding-top: 35px;
      margin-left: 45px;
      cursor: pointer;

      .dot {
        width: 3px;
        height: 3px;
        background-color: black;
        margin-left: 5px;
        border-radius: 100%;
      }
    }
  }
}

.blur-color {
  background-color: #e5e5e5;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 5;
  opacity: 0.5;
}

.edit-order {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 35vw;
  z-index: 1000;
  background-color: #fff;
  padding: 60px 50px 50px 50px;
  overflow-y: auto;

  .order-count {
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    color: #000000;

    span {
      color: #828282;
      margin-left: 10px;
    }
  }

  .main-edit {
    display: flex;
    justify-content: flex-end;

    .edit-icon {
      background-color: #f9fafb;
      border-radius: 100%;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }

  input {
    margin-top: 5px;
    padding-left: 0;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
    font-size: 20px;
    font-weight: bold;

    &:focus {
      box-shadow: none;
    }
  }

  .bordered-line {
    opacity: 0.1;
    border: 1px solid #000000;
    margin-top: 45px;
  }

  .cancel-sum {
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #000000;
    margin-top: 25px;

    span {
      padding-left: 5px;
      color: #04a6fb;
    }
  }

  .cancel-btn {
    background: #E02020 !important;
    border-radius: 6px;
    height: 60px;
    width: 50%;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 1rem;
    box-shadow: none;

    &:hover {
      background-color: #cf1818;
    }

    &:focus {
      box-shadow: none;
      background-color: #cf1818;
    }

    &:active {
      background-color: #cf1818 !important;
    }
  }
}

.client-sharing-page {
  padding-top: 75px;

  .bonus-card {
    background-color: #00b238;
    border-radius: 6px;
    padding: 32px 20px 30px 20px;
    box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);

    .bonus-text {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: white;
    }

    .percent {
      font-weight: 800;
      font-size: 60px;
      line-height: 28px;
      color: white;
    }

    .percent-text {
      margin-top: 20px;
      font-size: 16px;
      line-height: 18px;
      color: rgba(255, 255, 255, 0.55);
    }
  }

  .use-now {
    background: #ffffff;
    box-shadow: 0 2px 2px rgba(216, 216, 216, 0.33);
    border-radius: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    cursor: pointer;
    transition: .4s ease-in-out;

    &:hover {
      box-shadow: 0px 25px 40px rgba(211, 211, 211, 0.56);
    }
  }

  .use-notary {
    padding: 30px;
    background-color: white;
    box-shadow: 0 2px 2px rgba(211, 211, 211, 0.33);
    border-radius: 6px;

    .title {
      font-weight: bold;
      font-size: 32px;
      color: black;
      text-align: center;
    }

    .commit {
      font-size: 18px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #000000;
      margin-top: 15px;
    }

    .bordered {
      opacity: 0.1;
      border: 1px solid #000000;
      margin-top: 25px;
    }

    .social-set {
      margin-top: 25px;
      align-items: center;
      justify-content: space-between;
        .icons {
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          flex-wrap: wrap;
        }

      .qrCode {
        width: 39%;
      }
    }
    @media screen and (max-width: 992px){

    }
  }

  .sharing-history-row {
    padding-top: 75px;

    .history-col {
      box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
      border-radius: 6px;
      background-color: #fcfdfd;
      padding: 25px;
      transition: 0.4s all ease;

      &:hover {
        background-color: white;
      }

      .border-line {
        opacity: 0.1;
        border: 1px solid #000000;
        transform: rotate(90deg);
        width: 45px;
        margin-top: 25px;
      }

      .right-icons {
        margin-top: 10px;
        cursor: pointer;
      }
    }
  }
}

.client-feedback-page {
  padding-top: 65px;

  .sharing-history-row {
    padding-right: 15px;
    padding-left: 15px;

    .history-col {
      cursor: pointer;
      border-radius: 6px;
      background-color: #fcfdfd;
      padding: 25px;
      transition: 0.4s all ease;
      margin-top: 20px;
      box-shadow: 0px 0px 10px rgba(211, 211, 211, 0.56);

      &:hover {
        box-shadow: 0px 25px 40px rgba(211, 211, 211, 0.56);
        background-color: white;
      }

      .border-line {
        opacity: 0.1;
        width: .5px;
        background-color: #000;
        height: inherit;
      }

      .right-icons {
        margin-top: 10px;
        cursor: pointer;
      }

      .feedback-text-admin {
        color: #808080;
        font-size: 15px;
        font-weight: 300;
        line-height: 25px;
        margin-top: 35px;
      }
    }
  }

  .add-services {
    background: #00b238;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    cursor: pointer;

    .add-service-img {
      margin-left: 17px;
      margin-top: 17px;
    }
  }

  .add-text {
    color: #313e47;
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
    display: inline;
  }

  .route-services {
    background: #f3f4f5;
    border-radius: 100px;
    height: 50px;
    display: flex;

    .online,
    .in-person,
    .router-active {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5px;
      height: 40px;
      width: 140px;
      border-radius: 100px;
      color: #b9bdc1;
      font-size: 16px;
      cursor: pointer;
    }

    .router-active {
      box-shadow: 0px 2px 2px rgba(187, 187, 187, 0.32);
      background-color: white;
      color: black;
    }
  }

  .services-section {
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
    border-radius: 6px;
    padding: 35px 40px;

    .notary-text,
    .notary-text-active {
      font-weight: bold;
      font-size: 28px;
      line-height: 33px;
      color: #b9bdc1;
    }

    .notary-text-active {
      color: #313e47;
    }

    .notary-commit {
      margin-top: 15px;
      color: #b9bdc1;
      font-size: 18px;
      line-height: 29px;
    }

    .notary-price,
    .notary-price-active {
      font-size: 45px;
      line-height: 55px;
      margin-top: 30px;
      color: #b9bdc1;
      font-weight: bold;
    }

    .notary-price-active {
      color: #313e47;
    }

    .edit-and-switch {
      display: flex;

      .edit-services {
        background-color: #f3f4f5;
        height: 50px;
        width: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }
}

.online-order-client {
  padding-top: 10px;

  .price-order {
    font-size: 18px;
    line-height: 28px;
    color: #000000;
  }

  .order-step {
    margin-top: 20px;
    width: 100%;
    justify-content: center;

    .step-box {
      .step-one {
        .one,
        .active-step,
        .completed-step {
          width: 40px;
          height: 40px;
          border-radius: 100%;
          justify-content: center;
          align-items: center;
          display: flex;
          background-color: #f5f5f5;
          cursor: pointer;
          margin: 0 auto;
          border: 1px solid #5196ff;
        }

        .active-step {
          background-color: #5196ff;
          color: white;
        }

        .completed-step {
          background-color: black;
          color: white;
          border-color: black;
        }

        .fs-15 {
          text-align: center;
          color: black;
        }
      }
    }

    .step-line-2 {
      width: 35%;
    }

    .step-line-3 {
      width: 22%;
    }

    .order-line {
      margin-top: 20px;
      width: 100%;
      border: 1px solid black;
    }
  }

  .online-step-one {
    padding-top: 45px;

    select {
      height: 50px;
      border-radius: 0;
      background-color: #f5f5f5;
      border: transparent;
      box-shadow: none;

      &:focus {
        border: 1px solid black;
      }
    }

    .drop-files {
      margin-top: 15px;
      background-color: #f9fafb;
      padding: 20px 35px;

      .price {
        margin-left: 500px;
        margin-top: 10px;
        font-size: 35px;
        text-align: right;
      }

      .your-document {
        font-size: 20px;
        line-height: 15px;
        color: black;
      }

      .file-upload {
        margin-top: 15px;
        font-size: 15px;
        line-height: 15px;
        color: black;
      }

      .uploaded-file {
        width: 84px;
        height: 84px;
        background: #313e47;
        text-align: center;
        box-shadow: 0px 2px 2px rgba(187, 187, 187, 0.32);
        border-radius: 5px;
        margin-left: 25px;
        margin-top: 15px;
        cursor: pointer;

        .file-name {
          margin-top: 8px;
          font-size: 13px;
          line-height: 20px;
          letter-spacing: -0.266667px;
          color: #e0e2e3;
        }
      }

      .form-control-file {
        margin-top: 15px;
        border: 1px dashed black;
        height: 84px;
        width: 84px;
        cursor: pointer;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        padding-top: 28px;
        transition-duration: 0.5s;

        &:hover {
          box-shadow: 0 0 4px rgba(187, 187, 187, 0.82);
          font-size: 52px;
          border: 1px dashed #021cfd;
          color: #0a66b7;
        }
      }

      .count-document {
        justify-content: center;
        margin-top: 15px;
        margin-left: 60px;
        background-color: #f5f5f5;
        width: 20%;
        border: 1px dotted black;

        Input {
          background-color: #f5f5f5;
          text-align: center;
          border: none;
          box-shadow: none;
          width: 100px;
        }
      }

      .additional {
        background-color: #838b91;
        border-radius: 0;
        border: none;
      }

      .add-ser-input {
        padding: 0;
        height: 38px;
        border: 1px solid #384049;
      }
    }

    .buttons {
      .checkboxs {
        Label {
          @include label();

          &::before {
            @include lableBefore();
          }

          &::after {
            content: "I understand I need a webcam to use DuoNotary";
            @include labelAfter();

            @media screen and (max-width: 770px) {
              width: 200px;
              line-height: 14px;
            }
          }

          &.label_2::after {
            content: "I agree with the Terms of Service?";
          }
        }

        Input {
          @include input();
        }
      }

      .next-btn {
        height: 60px;
        border: none;
        box-shadow: none;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #313e47;
        margin-top: 25px;
        width: 20%;
        font-size: 20px;
      }
    }
  }

  .online-step-three {
    margin-top: 50px;

    .step-three {
      background-color: #f5f5f5;
      padding: 30px;

      .title {
        font-size: 30px;
        line-height: 30px;
        color: black;
      }

      .commit {
        font-size: 15px;
        line-height: 25px;
        color: black;
        margin-top: 15px;
      }

      .play-now {
        margin-top: 20px;
        width: 100%;
        height: 70px;
        border: none;
        box-shadow: none;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #5196ff;
      }
    }
  }
}

.online-step-date-time {
  padding-top: 45px;

  .date-time {
    padding: 20px 30px;
    background-color: #f5f5f5;

    .date-time-title {
      font-size: 30px;
    }

    .date-box {
      padding: 10px 20px;
      border: 1px solid transparent;
      cursor: pointer;

      &:hover {
        border: 1px solid black;
      }
    }

    .disable {
      color: #808080;
      padding: 10px 20px;
      border: 1px solid transparent;
    }

    .date-box-active {
      padding: 10px 20px;
      background-color: black;
      color: white;
    }

    .content-box {
      display: flex;
      width: 100%;
      padding: 10px;
      background: white;
      justify-content: center;
      overflow-x: auto;
    }
  }

  .next-btn {
    height: 60px;
    border: 1px solid transparent;
    box-shadow: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313e47;
    margin-top: 25px;
    width: 198px;
    border-radius: 2px;
    font-size: 20px;
  }
}

.online-step-two {
  padding-top: 20px;

  .form-control {
    margin-top: 5px;
    border: none;
    box-shadow: none;
    height: 50px;
    background-color: #f5f5f5;
    font-size: 16px;
    color: black;

    &:focus {
      border: 1px solid black;
    }
  }

  .checkbox-span {
    color: #5196ff;
  }

  .create-btn {
    height: 70px;
    border: none;
    box-shadow: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5196ff;
    margin-top: 50px;
    width: 350px;
    font-size: 20px;
  }

  .commit {
    margin-top: 10px;

    span {
      color: #5196ff;
    }
  }

  #checkbox3 {
    Label {
      @include label();

      &::before {
        @include lableBefore();
      }

      .textLabel {
        position: absolute;
        width: 600px;
        line-height: 15px;
        top: -50%;
        transform: translateX(5%);
      }
    }

    Input {
      @include input();

    }
  }
}

.inPerson-order-page {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100vh;
  .loading-div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1050;
    opacity: 1;

    ::after, ::before {
      box-sizing: border-box;
    }
  }

  .block-with-loading {
    div {
      background-color: transparent !important;
    }

    .modal-content {
      background-color: transparent !important;
    }

    .loader-body {

      background: transparent;
    }
  }

  .next-btn button {
    margin-top: 40px;
    width: 200px;
    height: 60px;
    color: white;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #313e47;
    border-radius: 2px;
  }

  .title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #313e47;
  }

  .step-one {
    margin-top: 60px;
    padding: 50px 40px 40px 40px;
    background: #f9fafb;
    box-shadow: 0px 2px 2px rgba(212, 212, 212, 0.2);
    border-radius: 5px;

    .please-address {
      font-weight: 500;
      font-size: 30px;
      line-height: 36px;
      color: #313e47;
    }

    input {
      height: 70px;
      backdrop-filter: blur(16.3097px);
      border-radius: 2px;
      border: none;
      margin-top: 35px;
      box-shadow: none;

      &:focus {
        border: 1px solid black;
      }
    }
  }

  .order-step-two {
    margin-top: 70px;
    background-color: #f5f5f5;
    padding: 50px 40px;

    .date-step-two {
      font-size: 30px;
      color: black;
      display: block;
    }

    .time-step-two {
      margin-top: 25px;
      background-color: white;
      padding: 30px 20px 30px 0;

      .time {
        font-size: 15px;
        font-weight: bold;
        padding-left: 45px;
      }

      .arrow-icons {
        position: absolute;
        right: 5%;

        img {
          cursor: pointer;
        }

        img:nth-child(2) {
          transform: rotate(180deg);
        }
      }
    }

    .date-step-row {
      margin-top: 15px;
      background-color: white;
      padding: 30px 20px;
    }

    .next-step-row {
      .next-btn {
        margin-top: 35px;
        background-color: #5196ff;
        color: white;
        font-size: 18px;
        border-radius: 0;
        border: none;
        height: 70px;
        width: 120px;
        box-shadow: none;
      }

      .commit-text {
        margin-top: 58px;
        font-size: 18px;

        .write-span {
          color: #5196ff;
        }
      }
    }
  }

  .order-step-four {
    margin-top: 50px;

    .input-col {
      input {
        margin-top: 20px;
        height: 70px;
        border: none;
        border-radius: 0;
        background-color: #f5f5f5;
        box-shadow: none;

        &:focus {
          border: 1px solid black;
        }
      }
    }

    .create-btn {
      background-color: #5196ff;
      font-size: 24px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: none;
      border-radius: 0;
      border: none;
      height: 70px;
      width: 350px;
    }
  }

  .order-step-five {
    padding: 0 1rem;

    .order-type {
      background-color: #f9fafb;
      box-shadow: 0 2px 2px rgba(212, 212, 212, 0.2);
      border-radius: 5px;
      padding: 30px 40px;
      transition: .5s ease-in-out;
      position: relative;
      margin: 10px;
      cursor: pointer;

      .type {
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        color: #313e47;
      }

      .commit {
        font-weight: normal;
        font-size: 15px;
        line-height: 25px;
        color: #000000;
        margin-top: 20px;
      }

      .selected-order-type {
        position: absolute;
        top: 20px;
        right: 20px;
        opacity: 0;
        cursor: pointer;
      }

      &:hover {
        background-color: #cdedfe;

        .type,
        .commit {
          color: #04a6fb;
        }

        .selected-order-type {
          opacity: 1;
        }
      }
    }
  }

  .no-service-page {
    margin-top: 70px;
    background-color: #f5f5f5;
    padding: 50px 40px;

    .main-message {
      font-size: 30px;
      font-weight: 500;
    }

    .sub-message {
      font-size: 20px;
      color: #313e47;
    }

    .send-btn {
      background-color: #5196ff;
      height: 70px;
      color: white;
      font-size: 18px;
      width: 120px;
      border: none;
      box-shadow: none;
      border-radius: 0;
      margin-top: 30px;
    }

    .inputs-container {
      width: 500px;
    }

    .input-text-area {
      display: flex;
      margin-top: 30px;

      textarea {
        width: 100%;
        height: 280px;
        border: none;
        border-radius: 0;
        box-shadow: 0px 4px 4px rgba(216, 216, 216, 0.33);

        &:focus {
          border: 1px solid black;
        }
      }
    }

    .input-btn {
      display: flex;
      margin-top: 30px;

      input {
        height: 70px;
        border: none;
        border-radius: 0;
        box-shadow: 0px 4px 4px rgba(216, 216, 216, 0.33);
        width: 100%;

        &:focus {
          border: 1px solid black;
        }
      }

      .next-btn {
        background-color: #5196ff;
        height: 70px;
        color: white;
        font-size: 18px;
        width: 120px;
        border: none;
        box-shadow: none;
        border-radius: 0;
      }
    }
  }
}

.circle,
.circle-active {
  width: 65px;
  height: 65px;
  border: 1px solid #eaeced;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeced;
    cursor: pointer;
    margin: 0 auto;

    .icon {
      width: 22px;
      height: 25px;
    }
  }
}

.circle-active {
  border: 1px solid #04a6fb;

  div {
    background-color: #04a6fb;

    .icon {
      background-color: white;
    }
  }
}

.step-text {
  margin-top: 15px;
  text-align: center;
  font-weight: 500;
  font-size: 18.9515px;
  line-height: 23px;
  color: #313e47;
}

.next-step-btn-previous {
  background: #313E47;
  border-radius: 2px;
  width: 10vw;
  height: 70px;

  @media screen and (max-width: 768px) {
    width: 35vw;
    margin-top: 1rem;
  }
}

.bordered-line {
  margin-top: 35px;
  border-bottom: 3px dotted #eaeced;
}

.bordered-line-active {
  margin-top: 35px;
  border-bottom: 3px dotted #04a6fb;
}

.all-step-inPerson {
  margin-top: 60px;


}

.next-step-btn {
  cursor: pointer;
  text-align: center;
  padding: 15px 10px;
  background: #04A6FB;
  color: white;
}

.count-doc {
  width: 420px;
  margin-top: 5px;
  font-size: 20px;

  .div-num {
    font-weight: bold;
    font-size: 25px;
    border-bottom: 1px solid black;
    width: 20px;
    text-align: center;
  }

  .div-num-1 {
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
  }

  .duv-btn {
    border-radius: 30%;
    color: #7575f3;
    margin-left: 20px;
    margin-right: 15px;
    font-weight: bold;
    font-size: 20px;
    padding: 0 15px;
    cursor: pointer;
    box-shadow: 0px 5px 5px #7575f3;

    &:hover {
      color: white;
      background-color: #7575f3;
    }
  }

  .div-btn {
    box-shadow: 0px 5px 5px #7575f3;
    border-radius: 30%;
    color: #7575f3;
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;
    padding: 0 15px;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: #7575f3;
    }
  }
}

.online {
  height: 100vh;
  .now-schedule-title {
    padding-top: 50px;
    font-size: 50px;
    text-align: center;
  }

  .icon_mobile {
    width: max-content;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    flex-direction: column;
    cursor: pointer;
    top: 5%;
    right: 7%;
    text-decoration: none;
    display: none;

    div {
      font-size: 24px;
      line-height: .7;
    }

    &:first-child {
      left: 7%;
    }

    @media screen and (max-width: 992px) {
      display: flex;
    }
  }

  .linkBlock {
    display: flex;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  .box-now-schedule {
    justify-content: center;

    .btn-now-schedule {
      background-color: #fff;
      border: 2.5px solid #04a6fb;
      border-radius: 0;
      margin: 20px 50px;
      height: 130px;
      width: 300px;
      font-size: 42px;
      color: #000;
      position: relative;
      transition: 0.2s linear;

      .fas {
        font-size: 24px;
        position: absolute;
        top: 20%;
        right: 10%;
        transition: 0.4s linear;
      }

      &:hover {
        color: #04a6fb;

        .fas {
          top: 10%;
          right: 5%;
        }
      }
    }

    .btn-now-schedule-helper {
      background-color: transparent;
      margin: 5px 50px;
      height: 100px;
      width: 300px;
      font-size: 20px;
    }
  }
}

.client-setting-page {
  transition: all ease 0.3s;

  .edit-profile-section {
    .form-section {
      padding: 20px 30px;
      transition: all ease-in-out 0.3s;
      background-color: white;
      box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      margin: 10px 0;
      width: 70%;

      @media screen and (max-width: 992px) {
        width: 100%;
      }

      .avatar-img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }

      .cancel-button {
        background-color: #313e47;
        border: none;
        padding: 17px 25px;
        font-weight: 500;
      }

      .save-button {
        background-color: #04a6fb;
        border: none;
        padding: 17px 25px;
        font-weight: 500;
      }

      .form-group {
        margin-bottom: 0;
      }

      input {
        color: black;
        font-weight: 400;
        padding: 12px;
        border: 1px solid #eaeaea;
        background-color: #f5f5f5;
        border-radius: 5px;

        &:focus {
          background-color: white;
          box-shadow: none;
        }

        &:valid {
          background-color: #00b23823;
          border: none;
        }

        &::placeholder {
          color: #a8b1bf;
        }
      }

      .input-half {
        width: 49%;
      }

      .input-full {
        width: 80%;
      }

      .form-label {
        font-weight: 500;
        margin-right: 10px;
        color: #313e47;
        text-align: right;
      }

      .form-section-title {
        font-weight: bold;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 0.02em;
        color: #313e47;
      }
    }

    .form-padding {
      box-shadow: 0 10px 20px 6px rgba(0, 0, 0, 0.1);

      padding: 25px 60px;
    }
  }
}

//MOBILE
@media screen and (max-width: 576px) {
  .mobile-display-none {
    display: none;
  }

  .order-page-client {
    .main-col {
      box-shadow: 0px 25px 40px rgba(211, 211, 211, 0.56);
      width: 100%;
      display: flex;
      flex-direction: column;

      .agent-name {
        margin-left: 25px;
        width: 90%;
      }

      .border-line {
        height: 0;
        margin: 10px 0;
        border: none;
      }

      .three-dots-vertical {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 10px;

        .dot {
          width: 4px;
          height: 4px;
          background-color: black;
          margin-top: 5px;
          border-radius: 100%;
        }
      }

      .three-dots {
        display: none;
      }
    }
  }

  .client-sharing-page {
    .use-now {
      margin-bottom: 20px;
      box-shadow: 0px 25px 40px rgba(211, 211, 211, 0.56);
    }

    .social-set {
      flex-direction: column;
      align-items: center;

      .icons {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
      }
    }
  }

  .edit-order {
    width: 100%;
  }

  .client-setting-page {
    .edit-profile-section {
      .form-section {
        width: 100%;
      }

      .form-padding {
        padding: 20px;
      }
    }
  }

  .online {
    .box-now-schedule {
      width: 100%;

      .btn-now-schedule {
        margin: 10px 25px;
      }
    }

    .all-step-inPerson {
      margin-top: 20px;
    }
  }

  .online-order-client {
    overflow-x: hidden;

    .online-step-one {
      width: 100%;
      margin: 0;

      .step-one-form {
        margin: 0;
        padding: 0;
        width: 100%;
      }

      .mobile-column {
        display: flex;
        flex-direction: column;
      }

      .drop-files {
        .price {
          margin: 20px 0;
          text-align: unset;
        }
      }
    }

    .online-step-date-time {
      .date-time {
        padding: 10px 15px;
      }
    }

    .online-step-two {
      .create-btn {
        width: 100%;
      }
    }

    .count-doc {
      margin-top: 15px;
    }
  }

  .inPerson-order-page {

    overflow-x: hidden;
    padding-bottom: 10px;

    .step-one {
      padding: 20px 10px 10px 10px;
    }

    .online-step-two {
      .step-two-form {
        width: 100%;
      }

      .create-btn {
        width: 100%;
      }
    }

    .count-doc {
      margin-top: 15px;
    }
  }
}

//TABLET
@media screen and (max-width: 992px) {
  .order-page-client {
    .main-col {
      box-shadow: 0px 25px 40px rgba(211, 211, 211, 0.56);
      width: 100%;
      display: flex;
      flex-direction: column;

      .agent-name {
        margin-left: 25px;
        width: 90%;
      }

      .border-line {
        height: 0;
        margin: 10px 0;
        border: none;
      }

      .three-dots-vertical {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 10px;

        .dot {
          width: 4px;
          height: 4px;
          background-color: black;
          margin-top: 5px;
          border-radius: 100%;
        }
      }

      .three-dots {
        display: none;
      }
    }
  }

  .client-sharing-page {
    .use-now {
      margin-bottom: 20px;
      box-shadow: 0px 25px 40px rgba(211, 211, 211, 0.56);
      width: 100%;
    }

    .social-set {

      div:first-child {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0 3rem;
      }
    }
  }

  .edit-order {
    width: 100%;
  }

  .client-setting-page {
    .edit-profile-section {
      .form-section {
        width: 100%;
      }

      .form-padding {
        padding: 20px;
      }
    }
  }

  .online {
    .box-now-schedule {
      width: 100%;

      .btn-now-schedule {
        margin: 10px 25px;
      }
    }

    .all-step-inPerson {
      margin-top: 20px;
    }
  }

  .online-order-client {
    overflow-x: hidden;

    .online-step-one {
      width: 100%;
      margin: 0;

      .step-one-form {
        margin: 0;
        padding: 0;
        width: 100%;

        .drop-files {
          .mobile-column {
            flex-direction: column;

            .price {
              text-align: unset;
            }
          }
        }
      }
    }

    .online-step-date-time {
      .date-time {
        padding: 10px 15px;
      }
    }

    .online-step-two {
      .step-two-form {
        width: 100%;
      }

      .create-btn {
        width: 100%;
      }
    }

    .count-doc {
      margin-top: 15px;
    }
  }

  .inPerson-order-page {
    overflow-x: hidden;
    padding-bottom: 10px;

    .step-one {
      padding: 20px 10px 10px 10px;
    }

    .online-step-two {
      .step-two-form {
        width: 100%;
      }

      .create-btn {
        width: 100%;
      }
    }

    .count-doc {
      margin-top: 15px;
    }
  }
}

#titleDoc {
  padding: 1.5rem 0.75rem !important;
  font-size: 20px;
}

.closeBtnBlock {
  position: fixed;
  top: 50px;
  right: 34.4%;

  @media screen and (max-width: 768px){
    position: absolute;
    top: 50px;
    right: -1%;
  }
}
