.adminLayout-page{
  width: 100%;
  .main-layout {
    .main-layout-left {
      .logo-duo {
        width: 100%;
        height: 135px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: max-content;
          height: 100%;
          object-fit: contain;
        }
      }
      .main-link-div {
        .active-link, .default-link {
          margin: 0 40px;
        }
        .about-user {
          padding: 1.5rem 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .main-layout-right {

      .client-navbar {

        .row-client-navbar {
        }

        .search_block_admin {
          position: relative;
          .search-box-admin {
            border-radius: 1.5rem;
            border: none;
            padding: 1.5rem;

            &::placeholder {
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 19px;

              color: #C1C5C8;
            }

            &:focus {
              box-shadow: none;
            }
          }
          .search-icons_admin {
            position: absolute;
            top: 50%;
            right: 5%;
            transform: translateY(-50%);
            cursor: pointer;
          }
        }
      }
    }
  }
}
.zipCodeTable-style{
  margin-top: 10px;
}

.collapses {
  background-color: #fcfcfc;
  padding: 1rem 0;
}

.text-duo {
  color: #04A6FB !important;
}