.adminLayout-page .main-layout .main-layout-left .main-link-div .active-link, .adminLayout-page .main-layout .main-layout-left .main-link-div .default-link {
  margin: 0px 40px 0px 40px;
}

.adminLayout-page .main-layout .main-layout-left .main-link-div .about-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 25px 0px 40px;
}
/*# sourceMappingURL=adminLayout.css.map */