.main-layout-left {
  .logo-duo {
    margin: 0 auto;
    width: max-content;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: max-content;
      height: 100%;
      object-fit: contain;
    }
  }

  .about-user {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0 !important;
  }
}
