.closeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 70px;
  border-radius: 100px 0 0 100px;
  background-color: #fff;
  cursor: pointer;

  @media screen and (min-width: 1400px){
    width: 4vw;
    height: 6.5vh;
  }

  @media screen and (max-width: 768px){
    position: absolute;
    right: 10%;
  }
}