.embassy {
  width: 100%;
  height: 100%;
  display: flex;

  .formGroupEmbassy {
    width: 100%;
    padding: 2rem 0;
    border-radius: 1rem;
    background-color: #F9FAFB;

    .formInputGroup {
      &>div {
        margin: 5px 0;
      }
    }
  }

  .h_input {
    padding: 1.5rem 1rem;
    font-size: 15px;
    color: #3b3b3b;
    border: 1px solid grey;
    border-radius: 4px;
  }

  label {
    color: #475e85;
  }
}