.foot {
  padding: 2vh 3vw;
  background-color: #F9FAFB;
  margin: 0 -3vw;

  .collBack {
    display: flex;
    padding: 6vh 0 4vh;
    margin-bottom: 4vh;
    border-bottom: 1px solid #D1D4D7;
    @media screen and (max-width: 568px) {
      flex-direction: column;

    }
  }

  .footer {
    display: flex;
    div {
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    .logo_duo {
      width: 6vw;
      height: 20vh;
      div {
        height: 50%;

        .logo {
          width: 100%;
          height: 10vh;
          object-fit: contain;

        }

        @media screen and (max-width: 992px){
            width: 100%;
          .logo {
            margin-left: 1.5vw;
            width: 100%;
            height: 8vh;
            object-fit: contain;

            &.logo_1 {
              width: 55%;
            }
          }
        }
      }
      @media screen and (max-width: 566px){
        width: 20vw;
      }
    }
    .links-section{
      display: flex;
      @media screen and (max-width: 992px) {
        flex-direction: column;
      }
    }
    .links {
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.02em;
      color: #313E47;
      opacity: 0.6;
      margin: 9px 0;
      text-decoration: none;
      &:hover{
        opacity: 1;
      }
      @media screen and (max-width: 768px) {
        font-size: 13px;
        margin: 10px;
        line-height: 12px;
      }

    }
  }

  .data {
    padding-top: 2vh;
    margin: 0;
    display: flex;
    align-items: center;

    .text {
      font-size: 1vw;
      padding-right: 1vw;

      @media screen and (max-width: 992px) {
        font-size: 12px;
        padding-right: 1rem;
      }
    }


    .footer-sub-text{
      font-size: 12px;
      line-height: 175.5%;
      letter-spacing: -0.015em;
      color: #B5BDC2;
    }
    .icons {
      display: flex;
      align-items: center;
      justify-content: center;


      div {
        margin: 0 .8vw;
        font-size: 1.6vw;

        @media screen and (max-width: 992px) {
          margin: 0 10px;
          font-size: 20px;
        }

        &:last-child {
          margin-right: 0;
        }

        i {
          cursor: pointer;
          transition: .2s ease-in-out;

          &:hover {
            color: #04A6FB;
          }
        }
      }
    }
    @media screen and (max-width: 600px){
      flex-direction: column;
    }
  }
}