.home-page-left {
  width: 9vw;
  height: 100vh;
  background-color: #f9fafb;
  display: flex;
  z-index: 100;
  flex-direction: column;
  justify-content: space-between;

  .logoLeft {
    width: max-content;
    margin: 4vh auto 0;
    padding-left: 2vw;
  }

  .menuBlock {
    cursor: pointer;
    margin: 0 auto;
  }

  .textLeft {
    transform: rotate(-90deg) translateX(35%);
    font-size: 1vw;
    color: #b5bdc2;
    opacity: 0.8;
    white-space: pre;
  }

  @media screen and (max-width: 768px){
    display: none;
  }
}
