.icon {
  width: 17px;
  height: 20px;
  display: inline-block;
  mask-repeat: no-repeat;
  mask-size: 100%;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  -webkit-mask-position: center;
  vertical-align: middle;
  background-color: #313E47;
}

.icon.icon-main {
  mask-image: url("/assets/icons/main.svg");
  -webkit-mask-image: url("/assets/icons/main.svg");
}

.icon.icon-plus {
  mask-image: url("/assets/icons/plus.svg");
  -webkit-mask-image: url("/assets/icons/plus.svg");
  background-color: white;
}

.icon.icon-download {
  mask-image: url("/assets/icons/download.svg");
  -webkit-mask-image: url("/assets/icons/download.svg");
}

.icon.icon-sharing {
  mask-image: url("/assets/icons/sharing.svg");
  -webkit-mask-image: url("/assets/icons/sharing.svg");
}

.icon.icon-order {
  mask-image: url("/assets/icons/order.svg");
  -webkit-mask-image: url("/assets/icons/order.svg");
}

.icon.icon-setting {
  mask-image: url("/assets/icons/setting.svg");
  -webkit-mask-image: url("/assets/icons/setting.svg");
}

.icon.icon-time {
  mask-image: url("/assets/icons/time.svg");
  -webkit-mask-image: url("/assets/icons/time.svg");
}

.icon.icon-agent {
  mask-image: url("/assets/icons/egent.svg");
  -webkit-mask-image: url("/assets/icons/egent.svg");
}

.icon.icon-service {
  mask-image: url("/assets/icons/service.svg");
  -webkit-mask-image: url("/assets/icons/service.svg");
}

.icon.icon-zipCode {
  mask-image: url("/assets/icons/zipCode.svg");
  -webkit-mask-image: url("/assets/icons/zipCode.svg");
}

.icon.icon-feedback {
  mask-image: url("/assets/icons/feedback.svg");
  -webkit-mask-image: url("/assets/icons/feedback.svg");
}
.icon.icon-phone {
  mask-image: url("/assets/icons/phone.svg");
  -webkit-mask-image: url("/assets/icons/phone.svg");
}
.icon.icon-mail {
  mask-image: url("/assets/icons/mail.svg");
  -webkit-mask-image: url("/assets/icons/mail.svg");
}
.icon.icon-discount {
  mask-image: url("/assets/icons/discount.svg");
  -webkit-mask-image: url("/assets/icons/discount.svg");
}

.icon.icon-customer {
  mask-image: url("/assets/icons/customer.svg");
  -webkit-mask-image: url("/assets/icons/customer.svg");
}

.icon.icon-blog {
  mask-image: url("/assets/icons/blog.svg");
  -webkit-mask-image: url("/assets/icons/blog.svg");
}

.main-layout {
  width: 100%;
  position: relative;
  background-color: #F9FAFB;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-layout .main-layout-left {
  width: 18vw;
  background-color: white;
  min-height: 100vh;
}

.main-layout .main-layout-left .logo-duo {
  width: 130px;
  height: 60px;
  padding: 45px 0 0 85px;
  cursor: pointer;
}

.main-layout .main-layout-left .main-link-div {
  padding-top: 85px;
}

.main-layout .main-layout-left .main-link-div .active-link, .main-layout .main-layout-left .main-link-div .default-link {
  border-radius: 6px;
  margin: 20px 40px 0px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-layout .main-layout-left .main-link-div .active-link .icon, .main-layout .main-layout-left .main-link-div .default-link .icon {
  margin-left: 30px;
}

.main-layout .main-layout-left .main-link-div .active-link .main-link, .main-layout .main-layout-left .main-link-div .default-link .main-link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #313E47;
  text-decoration: none;
  padding-left: 20px;
  margin-left: 10px;
}

.main-layout .main-layout-left .main-link-div .active-link {
  background: #04A6FB;
}

.main-layout .main-layout-left .main-link-div .active-link .icon {
  background-color: white;
}

.main-layout .main-layout-left .main-link-div .active-link .main-link {
  color: white;
}

.main-layout .main-layout-left .main-link-div .about-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px 25px 0px 40px;
}

.main-layout .main-layout-left .main-link-div .about-user .name-title {
  margin-left: 15px;
}

.main-layout .main-layout-left .main-link-div .about-user .name-title .name {
  color: #313E47;
  font-size: 16px;
  font-weight: 600;
}

.main-layout .main-layout-left .main-link-div .about-user .name-title .title {
  color: #313E47;
  font-size: 16px;
}

.main-layout .main-layout-right {
  width: 82vw;
}

.main-layout .main-layout-right .client-navbar {
  padding-top: 65px;
}

.main-layout .main-layout-right .client-navbar .page-name {
  font-weight: 800;
  font-size: 28px;
  color: #313E47;
}

.main-layout .main-layout-right .client-navbar .search-box {
  -webkit-box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
          box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
  border-radius: 100px;
  height: 50px;
  border: none;
  padding-left: 22px;
  color: #313E47;
  font-size: 16px;
}

.main-layout .main-layout-right .client-navbar .search-icons {
  position: absolute;
  top: 20px;
  right: 40px;
  z-index: 5;
  cursor: pointer;
}

.main-layout .main-layout-right .client-navbar .sharing-history, .main-layout .main-layout-right .client-navbar .sharing-history-default, .main-layout .main-layout-right .client-navbar .download-order-list {
  -webkit-box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
          box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
  border-radius: 100px;
  height: 50px;
  width: 160px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.main-layout .main-layout-right .client-navbar .sharing-history .history, .main-layout .main-layout-right .client-navbar .sharing-history-default .history, .main-layout .main-layout-right .client-navbar .download-order-list .history {
  color: #313E47;
  font-size: 16px;
  margin-left: 15px;
}

.main-layout .main-layout-right .client-navbar .download-order-list {
  background-color: #04A6FB;
  width: 220px;
}

.main-layout .main-layout-right .client-navbar .download-order-list .icon {
  background-color: white;
  margin-top: 3px;
}

.main-layout .main-layout-right .client-navbar .download-order-list .download-text {
  margin-left: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: white;
}

.main-layout .main-layout-right .client-navbar .sharing-history {
  background: #313E47;
}

.main-layout .main-layout-right .client-navbar .sharing-history .history {
  color: white;
}

.main-layout .main-layout-right .client-navbar .sharing-history .icon {
  background-color: white;
}

.main-layout .main-layout-right .client-navbar .notification-exit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-layout .main-layout-right .client-navbar .notification-exit .notification, .main-layout .main-layout-right .client-navbar .notification-exit .exit {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
/*# sourceMappingURL=mainLayout.css.map */