.icon {
  width: 17px;
  height: 20px;
  display: inline-block;
  mask-repeat: no-repeat;
  mask-size: 100%;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  -webkit-mask-position: center;
  vertical-align: middle;
  background-color: #313E47;


  &.icon-main {
        mask-image: url("/assets/icons/main.svg");
        -webkit-mask-image: url("/assets/icons/main.svg");
      }
  &.icon-address {
    mask-image: url("/assets/icons/address.svg");
    -webkit-mask-image: url("/assets/icons/address.svg");
  }
  &.icon-orderInfo {
    mask-image: url("/assets/icons/orderInfo.svg");
    -webkit-mask-image: url("/assets/icons/orderInfo.svg");
  }
  &.icon-payment {
    mask-image: url("/assets/icons/payment.svg");
    -webkit-mask-image: url("/assets/icons/payment.svg");
  }
  &.icon-timeOrder {
    mask-image: url("/assets/icons/timeOrder.svg");
    -webkit-mask-image: url("/assets/icons/timeOrder.svg");
  }
  &.icon-userInfo {
    mask-image: url("/assets/icons/userInfo.svg");
    -webkit-mask-image: url("/assets/icons/userInfo.svg");
  }


  &.icon-collapse {
    mask-image: url("/assets/icons/collapse.svg");
    -webkit-mask-image: url("/assets/icons/collapse.svg");

  }
  &.icon-online {
    mask-image: url("/assets/icons/online.svg");
    -webkit-mask-image: url("/assets/icons/online.svg");


  }
  &.icon-offline {
    mask-image: url("/assets/icons/offline.svg");
    -webkit-mask-image: url("/assets/icons/offline.svg");

  }
  &.icon-delete {
    mask-image: url("/assets/icons/delete.svg");
    -webkit-mask-image: url("/assets/icons/delete.svg");
  }
  &.icon-home-more {
    mask-image: url("/assets/icons/home-more.svg");
    -webkit-mask-image: url("/assets/icons/home-more.svg");
  }
  &.icon-right {
    mask-image: url("/assets/icons/right.svg");
    -webkit-mask-image: url("/assets/icons/right.svg");
  }
  &.icon-link {
    mask-image: url("/assets/img/link.svg");
    -webkit-mask-image: url("/assets/img/link.svg");
  }
  &.icon-plus {
    mask-image: url("/assets/icons/plus.svg");
    -webkit-mask-image: url("/assets/icons/plus.svg");
    background-color: white;
  }

  &.icon-download {
    mask-image: url("/assets/icons/download.svg");
    -webkit-mask-image: url("/assets/icons/download.svg");
  }

  &.icon-sharing {
    mask-image: url("/assets/icons/sharing.svg");
    -webkit-mask-image: url("/assets/icons/sharing.svg");
  }

  &.icon-order {
    mask-image: url("/assets/icons/order.svg");
    -webkit-mask-image: url("/assets/icons/order.svg");
  }

  &.icon-setting {
    mask-image: url("/assets/icons/setting.svg");
    -webkit-mask-image: url("/assets/icons/setting.svg");
  }
  &.icon-time {
    mask-image: url("/assets/icons/time.svg");
    -webkit-mask-image: url("/assets/icons/time.svg");
  }
  &.icon-agent {
    mask-image: url("/assets/icons/egent.svg");
    -webkit-mask-image: url("/assets/icons/egent.svg");
  }
  &.icon-service {
    mask-image: url("/assets/icons/service.svg");
    -webkit-mask-image: url("/assets/icons/service.svg");
  }
  &.icon-zipCode {
    mask-image: url("/assets/icons/zipCode.svg");
    -webkit-mask-image: url("/assets/icons/zipCode.svg");
  }
  &.icon-feedback {
    mask-image: url("/assets/icons/feedback.svg");
    -webkit-mask-image: url("/assets/icons/feedback.svg");
  }
  &.icon-discount {
    mask-image: url("/assets/icons/discount.svg");
    -webkit-mask-image: url("/assets/icons/discount.svg");
  }
  &.icon-customer {
    mask-image: url("/assets/icons/customer.svg");
    -webkit-mask-image: url("/assets/icons/customer.svg");
  }
  &.icon-blog {
    mask-image: url("/assets/icons/blog.svg");
    -webkit-mask-image: url("/assets/icons/blog.svg");
  }
}

.main-layout {
  width: 100%;
  position: relative;
  background-color: #F9FAFB;
  min-height: 100vh;
  display: flex;
  transition: all .3s ease;

  //Only for mobile
  .close-menu{
    display: none;
    background-color: #313e47;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);

    span{
      background-color: white;
    }
  }

  .main-layout-left{
    position: relative;
    width: 300px;
    min-width: 300px;
    background-color: white;
    height: 100vh;
    padding-bottom: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all .3s ease;

    .logo-duo {
      margin: 0 auto;
      width: max-content;
      height: 130px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: max-content;
        height: 100%;
        object-fit: contain;
      }
    }

    .main-link-div {
      .active-link, .default-link {
        border-radius: 6px;
        margin: 20px 30px 0px 30px;
        display: flex;
        height: 65px;
        align-items: center;

        .icon {
          margin-left: 30px;
        }

        .main-link {
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          color: #313E47;
          text-decoration: none;
          padding-left: 20px;
          margin-left: 10px;
        }
      }

      .active-link {
        background: #04A6FB;

        .icon {
          background-color: white;
        }

        .main-link {
          color: white;
        }
      }
      //Grey like default-links
      //.default-link {
      //  opacity: 0.3;
      //}

      .about-user {
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;


        .name-title{
          margin-left: 15px;

        .name {
          color: #313E47;
          font-size: 16px;
          font-weight: 600;
        }
        .title{
          color: #313E47;
          font-size: 16px;
        }
        }
      }
    }


  }
  .main-layout-left-hidden{
    width: 0;
    min-width: 0;
  }

  .main-layout-right {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: scroll;
    transition: all 0.3s ease;


    .menu-toggle{
      transition: all 0.3s ease;
      background-color: white;
      padding: 15px 20px 15px 15px;
      border-radius: 0 40px 40px 0;
      box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.1);
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 5px;
      z-index: 10;
      left: 300px;
      cursor: pointer;

      span{
        background-color: #313e47;
        transform: rotate(45deg);
      }

      &.l-0 {
        left: 0;
      }
    }

    .client-navbar {
      padding-top: 65px;
      position: relative;

      .icon-menu-mobile{
        display: none;
      }

      .page-name {
        font-weight: 800;
        font-size: 28px;
        color: #313E47;
      }

      .search-bar {
        position: relative;
        width: 60%;
        margin: 0 auto;
        .search-box {
          box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
          border-radius: 100px;
          height: 50px;
          border: none;
          padding-left: 22px;
          color: #313E47;
          font-size: 16px;
        }

        .search-icons {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 5%;
          z-index: 1;
          cursor: pointer;
        }

        @media screen and (max-width: 992px){
          width: 80%;
        }
      }

        .openFilter{
          position: absolute;
          padding: 30px;
          box-shadow: 0px 2px 2px rgba(15, 8, 8, 0.33);
          background-color: white;
          right: 35px;
          z-index: 10;
        }


      .sharing-history,
      .sharing-history-default,
      .download-order-list {
        box-shadow: 0px 2px 2px rgba(216, 216, 216, 0.33);
        border-radius: 100px;
        height: 50px;
        width: 60%;
        margin: 0 auto;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .history {
          color: #313E47;
          font-size: 16px;
          margin-left: 15px;
        }
      }
      .download-order-list{
        background-color: #04A6FB;
        width: 220px;
        .icon{
          background-color: white;
          margin-top: 3px;
        }
        .download-text{
          margin-left: 10px;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: white;
        }
      }
      .sharing-history{
        background: #313E47;
        .history{
          color: white;
        }
        .icon{
          background-color: white;
        }
      }

      .notification-exit {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .notification, .exit {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }

        .notify-count{
          position: static;
          margin-top: -10px;
        }
      }
    }
  }
}

.search_block_admin {
  position: relative;

  .search-icons_admin {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    cursor: pointer;
  }

  .search-box {
    border-radius: 1.5rem;
    border: none;
    padding: 23px 1.5rem;
  }
}


//Tablet
@media screen and (max-width: 767px) {

  ::-webkit-scrollbar{
    width: 0;
    border-radius: 0;
  }


  .main-layout{
    display: flex;
    flex-direction: column;
    .close-menu{
      display: flex;
    }

    .main-layout-right{
      .menu-toggle{
        display: none;
      }
      .client-navbar{
        padding-top: 15px;

        .row-client-navbar{
          flex-wrap: nowrap;
          align-items: center;


        }

        .icon-menu-mobile{
          display: unset;
          cursor: pointer;
        }

        .sharing-history-default, .sharing-history{
          padding: 15px;
        }
        .page-name-mobile{
          .page-name{
            font-weight: 600;
            font-size: 24px;
          }
        }
      }
    }
    .main-layout-left{
      z-index: 9;
      background-color: #FFFFFF;
      width: 100%;
      position: absolute;
      top: -100vh;
      transition: all ease 0.3s;
      .main-link-div{
        .default-link, .active-link{
          margin-top: 10px;
        }
        padding: 0;
      }
    }
    .left-mobile{
      top: 0;
    }
  }

}



//MOBILE
@media screen and (max-width: 576px) {

  ::-webkit-scrollbar{
    width: 0;
    border-radius: 0;
  }

      .main-layout{
         display: flex;
         flex-direction: column;

         .main-layout-right{
           width: 100%;

           .client-navbar{
             padding-top: 15px;
             .row-client-navbar{
               flex-wrap: nowrap;
               align-items: center;
             }

             .icon-menu-mobile{
               display: unset;
               width: 12%;
             }
             .sharing-history-default, .sharing-history{
               margin: 0 auto;
               width: 60%;
             }
             .page-name-mobile{
                width: 17%;
               .page-name{
                 font-weight: 600;
                 font-size: 18px;
               }
             }

             .notification-mobile {
               width: 20%;
             }
           }
         }
         .main-layout-left{
           background-color: #FFFFFF;
           width: 100%;
           position: absolute;
           top: -100vh;
           transition: all ease 0.3s;
         }
        .left-mobile{
          top: 0;
        }
       }

  }




