.wrapper {
  padding: 1rem 4rem;
  background-color: #F9FAFB;
  display: flex;
  .left_wrapper {
    flex: 1.5;
  }
  .right_wrapper {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
  }

  .boxes {
    padding: 1.5rem 2rem;
    width: 500px;
    cursor: pointer;
    border-bottom: 0.5px solid #d8dbde;
    transition: 0.25s ease-in-out all;
    margin-bottom: 1rem;
    border-radius : 4px;

    &:hover {
      background-color: #fff;
      transform: scale(1.05);
      .title {
        color: #04a6fb;
      }
    }
    .title {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 0.8rem;
    }
    .content {
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
    }
  }
}