.bg-filter{
  background-color: rgba(246, 189, 17, 0.21)
}
.view{
  width: 100% !important;
}
.photo-modal-img{
  position: absolute;
  min-width: 100rem;
  margin-left: -34rem;
}
.post-big, .post-small{
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px 10px 0;
  margin-bottom: 50px;
  box-shadow: 10px 20px 25px rgba(211, 211, 211, 0.56);

  .img-container{
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    img{
      width: 100%;
      height: 30vw;
      overflow: hidden;
      object-fit: cover;
      transition: transform 0.3s ease;
      &:hover{
        transform: scale(1.05);
      }
    }
  }

  .title-big{

    margin: 30px 0 0 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    color: #313e47;
    letter-spacing: 0.02em;

  }
  .title-small{
    padding: 0 30px;
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: #313e47;
    letter-spacing: 0.02em;

  }
  .preview{
    margin: 15px 0 0 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #000000;
    opacity: 0.6;
    height: 45px;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .blog-author{
    margin-top: 20px;
    padding: 15px 0;
    border-top: 1px solid #c7c8c9;

    .dot-font{
      height: 3px;
      width: 3px;
      background-color: #c7c8c9;
      border-radius: 50%;
      margin: 0 10px;
    }
    .author-text{
      font-weight: 600;
      font-size: 14px;
      color: #000000;
      opacity: 0.6;
      cursor: pointer;

      &:hover{
        text-decoration: underline;
      }
    }
    .publish-date{
      font-weight: 400;
      font-size: 14px;
      color: #000000;
      opacity: 0.6;
    }
    .author-avatar{
      border-radius: 50%;
      width: 30px;
      height: 30px;
      margin-right: 8px;
    }
    .read-more{
      cursor: pointer;
      span{
        color: black;
        font-size: 14px;
        font-weight: normal;
      }
      svg{
        margin-left: 8px;
        margin-right: 6px;
        transition: margin 0.3s ease;
      }
      &:hover{
        svg{
          margin-right: 0px;
          margin-left: 14px;
        }
      }
    }
  }
}
.post-small{
  padding-bottom: 20px;
  box-shadow: unset;
  background-color: unset;
  .img-container{

    width: auto;
    img{
      height: 15vw;
      overflow: hidden;
      object-fit: cover;
    }
  }
}

.full-post{
  width: 100%;
  padding: 40px 100px;
  overflow-y: auto;
  height: 100vh;
  .img-width{
    width: 100% !important;
    height: auto;
  }
  .main-img{
    width: 100%;
    height: auto;
  }
  .title{
    font-size: 50px;
    font-weight: 500;
    color: black;
    margin: 30px 20px;
    text-align: center;
  }
  .text{
    line-height: 150%;
    padding: 0 50px;
    color: #313e47;
    font-weight: 200;
    text-align: justify;
  }
  .post-footer{
    padding: 30px 50px;
    margin-top: 20px;
    border-top: 1px solid #c7c8c9;
    .author-avatar-big{
        width: 70px;
        height: 70px;
        border-radius: 50%;
      margin-right: 10px;
      }
      .author-text-big{
        font-size: 20px;
        color: black;
        font-weight: 500;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
      }
      .publish-date-big{
        font-weight: 400;
        font-size: 18px;
        color: black;
        opacity: 0.6;
      }

  }
  .featured-posts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    .child{
      width: 24%;
    }
  }
}

.upload-file-custom-big{

    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;

    overflow: hidden;

    .upload-file-button{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 15px 25px;
      color: #ffffff;
      font-weight: 500;
      background-color: #04a6fb;
      font-size: 1.5vw;
      @media screen and (max-width: 1300px){
        font-size: 1rem;
      }

      &:hover{
        background-color: #0a66b7;
      }

      .fas {
        font-size: 4vw;

        @media screen and (max-width: 1300px){
          font-size: 4rem;
        }
      }

    }
    .upload-file-name{
      border: 1px solid rgba(0,0,0,0.1);
      width: 100%;
      background-color: white;
      padding: 15px 25px;
      color: #313e47;
      font-weight: lighter;
    }

}

.upload-file-custom{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;

  overflow: hidden;

  .upload-file-button{

    display: inline-block;
    padding: 15px 25px;
    color: #ffffff;
    font-weight: 500;
    background-color: #04a6fb;
    &:hover{
      background-color: #0a66b7;
    }

  }
  .upload-file-name{
    border: 1px solid rgba(0,0,0,0.1);
    width: 100%;
    background-color: white;
    padding: 15px 25px;
    color: #313e47;
    font-weight: lighter;
  }
}
.upload-invalid{
  box-shadow: 2px 2px 2px rgba(256,0,0,0.1);
}


@media screen and (max-width: 576px){

  .post-small, .post-big{
    .img-container{
      img{
        height: 60vw;
      }
    }
  }

  .full-post{
    padding: 30px 20px;

    .title{
      font-size: 30px;
    }
    .post-footer{
      padding: 20px 0;
    }
    .featured-posts{
      flex-direction: column;
      justify-content: unset;
      .child{
        width: 100%;
      }
    }
  }
}
